<template>
<div>
  <div class="card" v-if="expired && ready">
    <joi-header></joi-header>

    <div class="deal">
      <h1>Sorry, that contest expired or does not exist.</h1>
    </div>
  </div>

  <div class="card" v-if="!submitted && !expired && ready"   :class="{ 'contestSelect': $root.validMarket }">
    <h2 class="headerText">
      Fill in the blanks to complete your entry for a chance to WIN <strong>{{contest.prize || contest.name}}</strong>!
      Only one entry per cell phone number.
    </h2>

    <vf-form :action="formURL" :method="POST" :validation="validation" :options="options" ajax>
      <div v-if="subscriberError">
        <h2 style="color:red">
          <strong>
            You must be a {{ $root.$config('siteName') }} subscriber to enter.
            Text {{ optinKeyword }} to {{ shortCode }} to join.
          </strong>
        </h2>
      </div>
      <vf-number pattern="[0-9]*"
                 inputmode="numeric" label="Mobile Number (numbers only)" name="mobileNumber"
                 v-model="contestantInfo.mobileNumber" v-bind:value="contestantInfo.mobileNumber"></vf-number>
      <vf-text label="First Name" name="firstName" v-bind:value="contestantInfo.firstName"></vf-text>
      <vf-text label="Last Name" name="lastName" v-bind:value="contestantInfo.lastName"></vf-text>
      <vf-select
          label="Gender"
          name="gender"
          :value="contestantInfo.gender"
          :items="[{id:1, text:'Male'}, {id:2, text: 'Female'}, {id:3, text: 'Other'} ]">
      </vf-select>
      <vf-text
        label="Email" name="email"
        v-bind:value="contestantInfo.email"></vf-text>
      <vf-number pattern="[0-9]*"
                 inputmode="numeric" label="Zip Code" name="zipCode"
                 v-bind:value="contestantInfo.zipCode"></vf-number>
      <div class="form-group">
        <label class="control-label">Date of Birth</label>
        <div class="full-width">
          <vf-select name="birthdayMonth" :items="months" :value="contestantInfo.dobm"></vf-select>
          <vf-select name="birthdayDay" :items="days" :value="contestantInfo.dobd"></vf-select>
          <vf-select name="birthdayYear" :items="years" :value="contestantInfo.doby"></vf-select>
        </div>
      </div>
      <vf-select label="Homeowner" name="homeOwner"
                 :value="contestantInfo.homeOwner" class="homeowner"
                 :items="[{id:1, text:'Own'}, {id:2, text: 'Rent'}, {id:3, text: 'Other'} ]">
      </vf-select>
      <vf-select class="houseInc"
                 label="Household Income" name="householdIncome"
                 :value="contestantInfo.householdIncome"
                 :items="incomes"></vf-select>
      <vf-select v-if="!$root.validMarket" label="Kids" name="kids"
                 :value="contestantInfo.kids"
                 :items="[{id:1, text:'Yes'}, {id:2, text: 'No'}]"></vf-select>

      <div v-if="$root.validMarket" class="kidsBox">
         <label class="kidsLabel">Kids</label>
         <div>
           <label>
             <input type="checkbox" @click="updateCheckbox(true, 'kids')"
                    :checked="contestantInfo.kids">Yes
           </label>
           <label style="margin-left: 5px">
             <input type="checkbox" @click="updateCheckbox(false, 'kids')"
                    :checked="!contestantInfo.kids">No
           </label>
         </div>
      </div>
      <div class="checkbox first">
        <label>
          <vf-checkbox name="receiveEmails" :checked="contestantInfo.receiveEmails">
            <span slot="afterField"></span>
          </vf-checkbox>I would like to receive occasional emails from {{ $root.$config('siteName') }}!
        </label>
      </div>

      <div class="checkbox">
        <label>
          <vf-checkbox name="agreeToTerms" :checked="contestantInfo.agreeToTerms">
            <span slot="afterField"></span>
          </vf-checkbox>
          <span>I agree to the</span>
          <a href="http://www.taponitdeals.com/terms">TERMS &amp; CONDITIONS</a>
        </label>
      </div>

      <div class="checkbox">
        <a :href="rulesLink">View official rules.</a>
      </div>

      <div v-if="mobileNumberError">
        <p style="color:red">
          The number you entered isn't a valid US number.
        </p>
      </div>
      <vf-status-bar v-if="!subscriberError && !mobileNumberError"></vf-status-bar>

      <div class="form-actions">
        <vf-submit class="button orange" text="Submit Contest Entry"></vf-submit>
        <a class="button blue backButton" @click="goToMain">Back to Main Screen</a>
      </div>
    </vf-form>

    <p>
      {{ $root.$config('siteName') }} gathers info so we can send you relevant offers. We promise never to sell your information!
    </p>
    <p>
      Need help?
      <br>
      Email <a href="mailto:taponit@taponitdeals.com">taponit@taponitdeals.com</a> or call (844) 558-6766
    </p>
  </div>

  <div v-if="submitted">
    <div class="container">
      <div class="card contest-thank-you" :class="{ 'new-background' : $root.validMarket }">
        <div>
          <div :class="{ 'center' : $root.validMarket }">
            <h1 class="large" v-if="repeatEntry">You've already entered this contest!</h1>
            <h1 class="large" v-else>Thanks for entering to win!</h1>

            <h3>Your submission has been received.</h3>
            <h3>Winner will be contacted by phone.</h3>
            <div v-if="$root.validMarket" class="stars-box">
              <img src="../../assets/images/stars.png" width="100%" />
            </div>

            <h2 class="large" >Good luck</h2>
            <h3 class="small-text">Don't forget to share with friends!</h3>

            <a class="button blue" @click="goToMain">Back to Offers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script src="./index.js"></script>

<style scoped lang="scss">
  @import '../../assets/themes/custom.scss';

  .new-background {
  color: #000;
  padding: 20px 10px!important;
  .center {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    h3 {
      font-size: 18px;
      opacity: 0.8;
      margin: 0;
    }
    h2 {
      font-size: 28px;
      margin-top: 5px;
      color: #E27319;
    }
    .stars-box {
      margin-top: 10px;
      width: 195px;
    }
    .small-text {
      font-size: 16px;
      margin: 20px 0 25px;
    }
    .button.blue {
      background-color: #E27319;
      width: 280px;
      margin: 0;
      padding: 12px 0;
    }
  }
}
.card {
  padding: 10px 20px;
}
.button {
  display: block;
  box-sizing: border-box;
  margin: 0 20px 20px 0;
  padding: 10px;
  width: 100%;
  background: #f89a3b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}
</style>
