$color1: #273512;
$color2: #d7e6c0;
$color3: #5da02e;

@font-face {
	font-family: "icons";
	src: url("assets/themes/wallaces/fonts/icons.woff") format("woff");
}

$body-background: #ffffdd;
$body-font-family: Verdana, Geneva, sans-serif;


// $button-background: #669933;
$button-background: #163312;
$button-color: #eee;

$save-button-color: #ffffcc;

$overlay-saved-background: #ffffdd;
$overlay-background: rgba(215, 230, 192, 0.9);
$menu-background: rgba(215, 230, 192, 0.9);
$header-background: #111c00;

$market-button-unselected-opacity: 0.5;

$menu-button-float: left;
$menu-button-animation: all 4s ease infinite;
$menu-button-font-size: 15px;
$menu-button-margin: 16px;
$menu-button-text-transform: uppercase;
$menu-button-open-transform: rotate(90deg);
$menu-button-label-content: "";
$menu-button-background: transparent;
$menu-button-bars-display: inline-block;
$menu-button-color: #ffffcc;

$back-button-background: #163312;
$back-button-color: #eee;

$share-button-icon-filter: invert(100%);
$play-button-icon-filter: invert(100%);

$logo-background-image: url("assets/themes/wallaces/images/wallaces-logo-text.png");
$logo-width: 85px;
$logo-float: none;
$logo-opacity: 0.9;

$home-width: 25px;
$home-height: 25px;
$home-filter: invert(80%) sepia(1);
$home-color: #ffffcc;
$home-background-image: url("assets/themes/mac/images/home.svg");
$home-float: right;
$home-display: inline-block;

$version-bar-display: block;
// $version-bar-display: none;
