<template>
  <joi-header></joi-header>
  <div class="overlay-profile" :class="{'new-design': $root.validMarket } ">
    <a v-if="!$root.validMarket" @click="closeOverlay" class="menu-button back-button"
       style="position:absolute;top:0;right:0;">Back</a>
    <h1 :class="{ 'h1-valid': $root.validMarket }">My Profile</h1>

    <validator name="validation">
      <form>

        <div v-if="$root.validMarket" class="img-container">
          <div class="showProfile marginBottom">
            <input class="inputImage" type="file" accept="image/jpeg, image/png, image/bmp, image/tiff, image/gif"
                   id="input"
                   @change="imageOnChange($event)">
            <div class="avatar-container">
              <img v-show="src" v-bind:src="src" @click="triggerEvent()">
              <div class="avatar-text" @click="triggerEvent()">
                <p>Edit</p>
              </div>
            </div>
          </div>

          <div class="name-container">
            <div class="form-group">
              <input class="input-text" type="text" name="firstName" v-model="form.firstName" placeholder="First Name">
            </div>

            <div class="form-group">
              <input class="input-text" type="text" name="lastName" v-model="form.lastName" placeholder="Last Name">
            </div>
          </div>

        </div>

        <div validation-class class="form-group">
          <label :class="classLabel">Mobile Number</label>
          <div :class="{ 'full-width': $root.validMarket }">
            <input
              :disabled="$root.validMarket"
              :class="{'input-number': $root.validMarket, 'new-disabled': $root.validMarket }" type="number" name="number" pattern="[0-9]*"
                   inputmode="numeric" v-model="form.number" initial="off" v-validate:number="['required']">
            <span v-if="$validation.number.required" class="help-block">The number field is required</span>
          </div>
        </div>

        <div v-if="!$root.validMarket">
          <div class="form-group">
            <label class="control-label">First Name</label>
            <div>
              <input type="text" name="firstName" v-model="form.firstName">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Last Name</label>
            <div>
              <input type="text" name="lastName" v-model="form.lastName">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label :class="classLabel">Email</label>
          <div :class="{ 'full-width': $root.validMarket }">
            <input :class="{'input-text': $root.validMarket }" type="text" name="email" v-model="form.email">
          </div>
        </div>

        <div class="form-group">
          <label :class="classLabel">Zip Code</label>
          <div :class="{ 'full-width': $root.validMarket }">
            <input
              :class="{'input-text': $root.validMarket  }" type="number" name="zipCode" pattern="[0-9]*"
                   inputmode="numeric" v-model="form.zipCode" initial="off"
                   v-validate:zipCode="{pattern: '/^[0-9]{5}$/'}">
            <span v-if="$validation.zipcode.pattern" class="help-block"
                  :class="{'font-color-black': $root.validMarket }"
            >The zip code field must be 5 digits</span>
          </div>
        </div>

        <div class="form-group">
          <label :class="classLabel">Date of Birth</label>

          <div :class="{ 'half-width': !$root.validMarket, 'date-container': $root.validMarket }">
            <div class="form-group" :class="{ 'box-width': $root.validMarket, 'full-width':  !$root.validMarket}">
              <select :class="{'input-text': $root.validMarket }" v-model="form.birthMonth">
                <option v-for="month in months" :value="month.id">{{month.text}}</option>
              </select>
            </div>

            <div class="form-group" :class="{ 'box-width': $root.validMarket, 'full-width':  !$root.validMarket}">
              <select :class="{'input-text': $root.validMarket }" v-model="form.birthDay">
                <option v-for="day in days" :value="day.id">{{day.text}}</option>
              </select>
            </div>

            <div class="form-group" :class="{ 'box-width': $root.validMarket, 'full-width':  !$root.validMarket}">
              <select :class="{'input-text': $root.validMarket }" v-model="form.birthYear">
                <option v-for="year in years" :value="year.id">{{year.text}}</option>
              </select>
            </div>
          </div>
        </div>

        <div>
          <div v-if="$root.validMarket" class="form-group box-width gender-box">
            <label class="input-label">Gender</label>
            <div class="full-width">
              <select v-model="form.gender" :class="{'input-text': $root.validMarket }">
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
          </div>

          <div class="form-group" :class="{ 'box-width': $root.validMarket }">
            <label :class="classLabel">Homeowner</label>
            <div :class="{ 'full-width': $root.validMarket }">
              <select :class="{'input-text': $root.validMarket }" v-model="form.homeOwner">
                <option value="1">Own</option>
                <option value="2">Rent</option>
                <option value="3">Other</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label :class="classLabel">Household Income</label>
          <div :class="{'remove-float': $root.validMarket }">
            <select :class="{'input-text': $root.validMarket }" v-model="form.householdIncome">
              <option v-for="income in incomes" :value="income.id">{{income.text}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label :class="classLabel">Kids</label>
          <div v-if="!$root.validMarket">
            <select v-model="form.kids">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>
          <label v-if="$root.validMarket" class="checkbox-label">
            <input :checked="form.kids === 1" @click="updateCheckbox(1, 'kids')" type="checkbox">Yes
          </label>
          <label v-if="$root.validMarket" class="checkbox-label">
            <input :checked="form.kids === 0" @click="updateCheckbox(0, 'kids')" type="checkbox">No
          </label>
        </div>

        <div v-if="$root.validMarket" class="checkbox-container">
          <p class="checkbox-question-text">What are your favorite types of offers?</p>
          <template v-for="category of categories">
            <label class="checkbox-label">
              <input :checked="category.checked" @click="updateCategory(category)" type="checkbox"/> {{
              category.category }}
            </label>
            <br>
          </template>
        </div>

        <div  v-if="!$root.validMarket" class="form-group">
          <label :class="classLabel">Message Type</label>
          <div>
            <select v-model="form.mmsEnabled">
              <option value="1">MMS</option>
              <option value="0">SMS</option>
            </select>
          </div>
        </div>

        <h2 :class="{'h2-valid': $root.validMarket }">{{ $root.$config('siteName') }} gathers information so that
          we can send you relevant {{ offerTypeDescLcase }}s. We promise never to sell your information!</h2>

        <div class="form-actions" :class="{ 'button-container': $root.validMarket }">
          <div v-if="$root.validMarket && loading" class="process">Processing<span>.</span><span>.</span><span>.</span></div>
          <a @click="preSubmitForm($event)" :class="{disabled: ($validation.invalid && saved) || loading}"
             class="button save-button" :disabled="$validation.invalid || saved || loading">Save</a>
          <div v-if="saved" class="saved">This {{formOptions.name}} was saved successfully!</div>
          <div v-if="errors.present" class="errors">
            <span v-if="errors.name === 'duplicateRecordFound'">A {{formOptions.name}} with duplicate information already exists.</span>
            <span v-if="errors.name !== 'duplicateRecordFound'">Sorry, an error prevented this {{formOptions.name}} from being saved.</span>
          </div>
        </div>
      </form>
    </validator>
  </div>
</template>

<script src="./index.js"></script>
<style scoped src="./profile.scss" lang="scss"></style>
