@import '../../assets/themes/custom.scss';

.h2-valid {
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  margin: 20px 0;
  color: $profile-information-text-color;
}

.new-design {
  color: black;
  top: 55px;
  position: relative;
  padding: 20px 10px 0 10px;
}

h1 {
  margin:0 0 20px;
  text-align:left
}

.input-label, .errors, .saved, .h1-valid {
  color: $title-text-color;
}
.checkbox-label {
  color: $profile-checkbox-text-color;
}

.img-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 5px;
}
.name-container input[type="text"]{
  margin-bottom: 5px;
}

.showProfile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.inputImage {
  display: none;
}

img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: white;
  position: relative;
}

.marginBottom {
  margin-bottom: 10px;
}
.avatar-container {
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
}
.avatar-text {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-top: 1px solid transparent;
  border-radius: 0 0 50px 50px;
  cursor: pointer;
  height: 45%;
  width: 100%;
}
.avatar-text p {
  color: #ffffff;
  margin: 4px 0;
  font-weight: bold;
}

.half-width {
  width: 50%;
}

.remove-float {
  float: none;
}

.form-group .full-width, .date-container {
  width: 100%;
}
.date-container {
  display: flex;
  justify-content: space-between;
}
.box-width {
  width: 33%;
}

.gender-box {
  float: left;
  margin-right: 15px;
}

.font-color-black {
  color: black;
}

.input-number {
  background-color: #e1e1e1;
  color: #777777;
  border: none;
  border-radius: 3px;
  height: 35px;
  margin-bottom: 7px;
}

.input-text {
  background-color: #ffffff;
  color: #777777;
  border: none;
  border-radius: 3px;
  height: 35px;
  margin-bottom: 7px;
}

.form-group input[type="checkbox"] {
  display: inline-block;
}

.checkbox-container input[type="checkbox"] {
  width: 19px;
  height: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border:1px solid #777777;
  vertical-align: middle;
  background-color: #fff;
  margin-left: 0;
  margin-bottom: 5px;
}
.checkbox-container input[type="checkbox"]:checked {
  background-image: url("../../assets/images/black-checkmark.png");
  background-size: contain;
  background-color: #fff;
  outline: none;
}

input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"] {
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #bbbbbb;
  border: 1px solid #bbbbbb;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: 5px 3px 7px 10px;
}
input[type="checkbox"]:checked {
  background: radial-gradient(circle at center, #52b947 25%, #fff, #fff 100%);
}

.checkbox-question-text {
  font-size: 1.6rem;
  text-align: left;
  color: $title-text-color;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.process {
  margin-bottom: 10px;
}
.process span {
  font-size: 30px;
  animation-name: blink;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.process span:nth-child(2) {
  animation-delay: .2s;
}
.process span:nth-child(3) {
  animation-delay: .4s;
}
@keyframes blink {

  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
.button {
  background-color: $profile-save-button-color;
  width: 250px;
  margin-right: 0;
}

.new-disabled {
  color: #000;
  opacity: 0.4;
}
