$color1: #1879bc;
$color2: #00aef0;
$color3: #00aecf;

@font-face {
	font-family: "icons";
	src: url("assets/themes/wheredeals/fonts/icons.woff") format("woff");
}

$body-background: #ffffff;
// $body-font-family: Verdana, Geneva, sans-serif;


// $button-background: #669933;
$button-background: #1879bc;
$offer-button-1-background: #1879bc;
$offer-button-2-background: #1879bc;
$offer-button-3-background: #1879bc;
$button-color: #fff;
$redeem-button-background: #00aef0;
$redeem-button-disabled-background: white;
$redeem-button-disabled-color: black;
$redeem-button-disabled-border: solid 1px black;

$save-button-color: #00aecf;
// $save-button-color: #00aecf;

$overlay-saved-background: rgba(255, 255, 255, 1.0);
$overlay-background: rgba(255, 255, 255, 1.0);
$menu-background: rgba(255, 255, 255, 0.9);
$header-background: #fff;

$market-button-unselected-opacity: 1;
$market-button-unselected-background: white;
$market-button-unselected-color: black;

$menu-button-float: left;
$menu-button-animation: all 4s ease infinite;
$menu-button-font-size: 15px;
$menu-button-margin: 16px;
$menu-button-text-transform: uppercase;
$menu-button-open-transform: rotate(90deg);
$menu-button-label-content: "";
$menu-button-background: transparent;
$menu-button-bars-display: inline-block;
$menu-button-color: black;

$back-button-background: #1879bc;
$back-button-color: #eee;

$share-button-icon-filter: invert(100%);
$play-button-icon-filter: invert(100%);

$logo-background-image: url("assets/themes/wheredeals/images/wheredeals-logo.jpg");
$logo-width: 85px;
$logo-float: none;
$logo-opacity: 0.9;

$home-width: 25px;
$home-height: 25px;
$home-filter: none;
$home-color: #ffffff;
$home-background-image: url("assets/themes/wheredeals/images/home.svg");
$home-float: right;
$home-display: inline-block;

$saved-button-background: white;
$saved-button-color: black;
$saved-button-border: solid 1px black;

$socialbar-background: #fff;

// $version-bar-display: block;
$version-bar-display: none;
