<template>
  <div class="locations" :style="{ top: preview ? 0 : '' }">
    <button @click="closeOverlay">Close</button>
    <h1>{{businessName}}</h1>
    <h2>See available locations to redeem</h2>
    <div v-for="offerLocation in locations" class="divider">
      <div class="offer-location">
        <p>{{createAddress (offerLocation)}}</p>
        <a href="tel:{{offerLocation.businessPhoneNumber}}"><p class="location-link">{{offerLocation.businessPhoneNumber}}</p></a>
        <a :href="locationURL(offerLocation.businessURL)" target="_blank"><p class="location-link">{{offerLocation.businessURL}}</p></a>
      </div>
      <div class="offer-direction">
        <a
          v-if="locationExists(offerLocation)"
          target="_blank"
          :href="createLink(offerLocation)">
          <canvas class="location-direction-img"></canvas>
          <p>Directions</p>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'location-overlay',
    props: {
      preview: {
        type: Boolean,
        require: false
      },
      businessName: {
        type: String,
        require: true
      },
      locations: {
        type: Array,
        require: true
      }
    },
    methods: {
      locationExists(location) {
        return !!(location.address && location.city && location.state);
      },
      locationURL(url) {
        if (!/http:\/\/|https:\/\//.test(url)) {
          url = 'http://' + url;
        }
        return url;
      },
      createLink(location) {
        if (location.googleMapsURL) {
          return location.googleMapsURL;
        }
        return `http://www.google.com/maps/place/${location.latitude},${location.longitude}`;
      },
      createAddress(location) {
        if (!this.locationExists(location)) {
          return 'No Physical Address';
        }

        return `${location.address}, ${location.city}, ${location.state}`;
      },
      closeOverlay() {
        this.$parent.closeOverlay();
      }
    }
  };
</script>

<style scoped lang="scss">
  @import '../../assets/themes/custom.scss';

  .locations {
    background-color: $location-background-color;
    top: 55px;
    color: $base-text-color;
    padding: 10px 0 5px;
    h1, h2 ,p {
      text-align: left;
    }
    h1 {
      width: 80%;
      margin-left: 10px;
    }
    p {
       padding: 0;
       margin: 0;
    }
    h2 {
      color: $base-text-color;
      margin-left: 10px;
    }
    button {
      position: absolute;
      top: 12px;
      right: 8px;
      background-color: transparent;
      border: none;
      font-size: 18px;
      color: $base-text-color;
    }
    .divider {
      border-top: $divider-location;
      padding:10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: $location-tile-background-color;

      .offer-location {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .location-link {
          color: $location-link-text-color;
          text-decoration: underline;
        }
      }
      .offer-direction {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

         canvas {
           width: 35px;
           height: 35px;
           background-size: contain;
           background-repeat: no-repeat;
           background-position: center;
         }

        .location-direction-img {
          background-image: $location-direction-img;
        }

        p {
          color: $base-text-color;
        }

      }
    }
  }


</style>
