<template>
  <div class="card offer" :class="{ 'new-offer' : $root.validMarket }">
    <style>
    .container {
      height: 100%;
    }
    .deal {
      margin: 0;
    }
    .offer {
      overflow: auto;
      border-bottom: 0;
    }
    </style>
    <div v-if="alreadySubscribed" class="deal">
      <h1>You’ve already subscribed to {{ $root.$config('siteName') }} in this market!</h1>
      <p>
        You should have a text from {{shortCode}} with a link to your {{ $root.$config('siteName') }}
        {{offerTypeDescLcase}}s.<br>
        Can’t find it? Text {{optinKeyword}} to the number {{shortCode}}.<br>
        <!-- Need a list of keywords? Text {{optinKeyword}} to {{shortCode}}.<br> -->
        If you were previously subscribed to {{ $root.$config('siteName') }} and texted “STOP,”
        but would like to sign back up, just text {{optinKeyword}} to {{shortCode}}.
      </p>
      <p>Visit <a href="{{clientHome}}">{{clientHome}}</a> for more information!</p>
      <p>
        By joining {{ $root.$config('siteName') }} you are signing up to receive recurring text message offers.
        You can reply HELP for help or STOP to cancel at anytime.  Message and data rates may apply.
        Go to <a href="https://www.taponitdeals.com/terms">www.taponitdeals.com/terms</a> for T&amp;C and Privacy Policy.
      </p>
      <div class="copyright">{{ $root.copyright() }}</div>
    </div>

    <div v-if="submitted" class="deal">
      <div v-if="$root.validMarket" class="check-pic">
        <img src="../../assets/images/check.png" width="100px"/>
      </div>
      <h1 class="success-header">
        Great! You've successfully
        {{$root.validMarket ? 'completed the first step of signing up for ' + $root.$config('siteName') + '!': 'signed up.'}}
      </h1>
      <p v-if="!$root.validMarket">
        You will receive a confirmation to join {{ $root.$config('siteName') }} via text message;
        make sure to reply with your zip code to the message to complete your opt-in.
      </p>
      <p v-if="$root.validMarket">
        Now, check your phone for a text message from 82928, you must
        <span style="font-weight: bold;">reply with your zip code</span> to complete your opt-in!
      </p>
      <p>By joining {{ $root.$config('siteName') }} you are signing up to receive recurring text message offers.
        You can reply HELP for help or STOP to cancel at anytime.  Message and data rates may apply.
        Go to <a href="https://www.taponitdeals.com/terms">www.taponitdeals.com/terms</a> for T&amp;C and Privacy Policy.
      </p>
      <div class="copyright">{{ $root.copyright() }}</div>
    </div>

    <div v-if="submitted === false && alreadySubscribed === false">
      <div v-if="!noOffer" class="deal">
        <div class="offer-images" id="offer-images">
          <div class="offer-example-image">
            <h1 v-if="!$root.validMarket && offer.isContest === 0" class="text-example">EXAMPLE</h1>
            <div v-if="$root.validMarket && offer.isContest === 0" class="locked">
              <img src="../../assets/images/locked.png" width="150px" />
            </div>
            <h1 v-if="offer.isExpired === 1" class="text-example">EXPIRED</h1>
            <h1 v-if="offer.isContest === 1"></h1>
            <img v-if="offer.isContest === 1 && offer.isExpired === 0" :src="offer.image">
            <img v-else :src="offer.image" class="offer-redeemed">
          </div>

        </div>

        <div class="signup-form">
          <h1>Enter your mobile phone number below to sign up to get this great {{offerTypeDescLcase}} and more from
            {{ $root.$config('siteName') }}!
          </h1>
          <form v-on:submit.prevent="optIn($event)">
            <div class="field">
              <label>
                <template v-if="!$root.validMarket">Your Mobile#</template>
                <input type="number" name="number" v-model="number" pattern="[0-9]*"
                       placeholder="{{$root.validMarket ? 'Your Mobile #': ''}}"
                       inputmode="numeric" initial="off" >
                <a @click.prevent="optIn($event)" class="button blue">Submit</a>
              </label>
              <span v-if="numberRequired" class="help-block">Mobile phone number is required</span>
              <span v-if="invalidNumber" class="help-block"><br/>The mobile number entered is invalid.<br/>
                Please enter a valid mobile phone number.
              </span>
            </div>
            <p v-if="!$root.validMarket">
              You will receive a confirmation to join {{ $root.$config('siteName') }} via text message;
              make sure to reply with your zip code to the message to complete your opt-in.
            </p>
            <p v-if="$root.validMarket">
              You will receive a confirmation text message from the number 82928; make sure to
              <span style="font-weight: bold;">reply with your zip code</span> to complete your opt-in!
            </p>
          </form>
        </div>
        <p>By joining {{ $root.$config('siteName') }} you are signing up to receive recurring text message offers.
          You can reply HELP for help or STOP to cancel at anytime.  Message and data rates may apply.
          Go to <a href="https://www.taponitdeals.com/terms">www.taponitdeals.com/terms</a> for T&amp;C and Privacy Policy.
        </p>
        <div class="copyright">{{ $root.copyright() }}</div>
      </div>

      <div v-else class="deal">
        <h1>Sorry, that {{offerTypeDescLcase}} expired or does not exist.</h1>
      <div class="copyright">{{ $root.copyright() }}</div>
      </div>
    </div>
  </div>
</template>

<script src="./index.js"></script>

<style lang="scss">
.signup-form {
  padding: 0 20px;

  .field {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    input {
      display: inline-block;
      width: 110px;
      text-align: center;
    }
    .button {
      margin: 0px;
      padding: 5px;
      display: inline-block;
      width: 80px;
    }
    span.help-block{
      color: red;
    }
  }
}
.new-offer {
  padding: 5px;
  height: 100%;
  .offer-example-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    .locked {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 10;
    }
    .offer-redeemed {
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%);
    }
  }
  .signup-form {
   padding: 0;

    .field {
      max-width: 370px;
      margin-top: 15px;
      label {
        display: flex;
        input {
          width: 65%;
          height: 40px;
          margin-right: 5px;
          background-color: #fff;
          border-color: #fff;
          color: #000;
          text-align: left;
          font-size: 16px;
        }
        .button {
          width: 35%;
          height: 40px;
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }
    }
    h1 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      text-align: left;
    }
    form {
      margin-bottom: 0;
    }
  }
  p {
    color: rgba(0, 0, 0, 0.8);
    padding: 0 7px;
    font-size: 16px;
    line-height: 1.3;
    margin: 20px 0 0;
  }
  .deal {
    .check-pic {
      display: flex;
      justify-content: center;
      margin: 22px 0 30px;
    }
    .success-header {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.8);
      margin: 0 20px;
    }
    .copyright {
      color: rgba(0, 0, 0, 0.7);
      font-size: 12px;
      margin-top: 25px;
    }
  }
}
</style>
