.market-header {
  color: #9ea0a1;
  text-align: center;
  font-variant: all-small-caps;
  margin-bottom: 5px;
  span {
    color: #eee;
  }
}
.preview  {
  .offer-image {
    filter: grayscale(50%);
    .text-redeemed  {
      opacity: 0.5;
      color: white;
      display: block;
    }
  }
}

.deal {
	position: relative;
  .text-redeemed {
    // display: none;
  }
	.actions {
    .redeem-message {
      font-size: 1.2rem;
      padding: 0px;
    }
    &.total-4 {
      padding: 0 0 20px 10px;
      overflow: hidden;
      .button {
				float: left;
				margin: 0 10px 10px 0;
				width: calc(50% - 10px);
				min-height: 75px;
      }
    }
    &.total-5 {
      padding: 0 0 20px 10px;
      overflow: hidden;
      .button {
        float: left;
        margin: 0 10px 10px 0;
        width: calc(50% - 10px);
        min-height: 75px;
      }
    }
    &.total-6 {
      padding: 0 0 20px 10px;
      overflow: hidden;
      .button {
        float: left;
        margin: 0 10px 10px 0;
        width: calc(50% - 10px);
        min-height: 75px;
      }
    }
    &.total-7 {
      padding: 0 0 20px 10px;
      overflow: hidden;
      .button {
        float: left;
        margin: 0 10px 10px 0;
        width: calc(50% - 10px);
        min-height: 75px;
      }
    }
    &.total-8 {
      padding: 0 0 20px 10px;
      overflow: hidden;
      .button {
        float: left;
        margin: 0 10px 10px 0;
        width: calc(50% - 10px);
        min-height: 75px;
      }
    }
	}
}

.next {
	right: 10px;
}
.prev {
	left: 10px;
	transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.next, .prev {
  cursor: pointer;
  position: absolute;
	width: 100px;
	height: 100px;
	clip: rect(auto, 144px, auto, 80px);
  top: calc(50% - 50px);
  z-index: 3;
  user-select: none;
  opacity: 0.7;
  a {
    color: #fff;
  }
	&:after {
		content: "";
		position: absolute;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
		transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    will-change: transform;
		background: -webkit-gradient(linear, left top, right bottom, color-stop(20%, #000), color-stop(95%, #ffffff));
	}
}
.next:active, .prev:active {
  opacity: 1;
	&:after {
		background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #000), color-stop(90%, #ffffff));
	}
}
.overlay-popup-text {
  .text-wrapper {
    margin-top: 50px 25px;
    vertical-align: center;
    text-align: center;
  }
}
.overlay-explanation {
  .help-block {
    color: red;
    margin-bottom: 10px;

  }
  input {
    width: 100px;
    text-align: center;
    margin: 15px auto;
  }
  .button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    &.disabled {
      opacity: 0.5;
    }
  }

  a.cancel {
    cursor: pointer;
  }
}
