<template>
  <div class="card">
    <joi-header></joi-header>

    <div v-if="overlay.redeem" @click.stop="closeOverlay" class="overlay overlay-redeem">
      <div v-if="offers[currentOffer].redeemed == null" @click.stop class="stop">
        <img src="../../assets/images/icon-stop.png" alt="" height="100">
        <h1>Are you sure you want to redeem {{offers[currentOffer].businessName}}?</h1>
        <h1>Are you at the business location?</h1>
        <p>You should only redeem an {{offerTypeDescLcase}} when you are at the business making the purchase. This {{offerTypeDescLcase}} can only be redeemed 1 time.</p>
          <p v-if="errorMessage != ''" class="large">{{errorMessage}}</p>
        <p>Are you sure you want to redeem now?</p>
        <a @click.stop="redeemOffer" class="button">Redeem Now</a>
        <a @click.stop="closeOverlay">Cancel</a>
      </div>

      <div v-else class="stop">
        <h1>You've successfully redeemed this {{offerTypeDescLcase}}!</h1>
      </div>
    </div>

    <div v-if="overlay.noZip" class="overlay overlay-explanation">
      <div class="explanation">
        <h1>Please enter your zip code!</h1>
        <p>We want to make sure to send you relevant {{offerTypeDescLcase}}s! Thanks :)</p>
        <form>
          <validator name="validation">
          <input
            autofocus
            style="height:48px;font-size:24px;"
            placeholder="12345"
            type="number"
            name="zipCode"
            pattern="[0-9]*"
            inputmode="numeric"
            v-model="form.zipCode"
            initial="off"
            v-validate:zipCode="{pattern: '/^[0-9]{5}$/'}">
            <div v-if="$validation.zipcode.pattern" class="help-block">The zip code field must be 5 digits</div>
          </validator>
          <button
            @click="this.submitZip($event)"
            class="button green"
            :class="{disabled: $validation.invalid || form.zipCode.length < 5}"
            :disabled="$validation.invalid">Submit Zip Code</button>
        </form>
      </div>
    </div>

    <div v-if="overlay.explanation" @click.stop="closeOverlay" class="overlay overlay-explanation">
      <div v-if="overlay.facebook" class="explanation">
        <!-- <h1><img class="logo" src="../../assets/images/logo&#45;02.png" alt="{{ $root.$config('siteName') }}"></h1> -->
        <h1 class="large">Share This {{offerTypeDescPcase}}</h1>
        <p>When your friends join {{ $root.$config('siteName') }} through your share, you will get a text with a Bonus {{offerTypeDescPcase}}!</p>
        <p>Click the share button to post these {{offerTypeDescLcase}}s to your friends on Facebook.</p>
        <a @click="facebook" class="button orange">Share on Facebook</a>
        <a @click="closeOverlay" class="cancel">Cancel</a>
      </div>

      <div v-if="overlay.twitter" class="explanation">
        <!-- <h1><img class="logo" src="../../assets/images/logo&#45;02.png" alt="{{ $root.$config('siteName') }}"></h1> -->
        <h1 class="large">Share This {{offerTypeDescPcase}}</h1>
        <p>When your friends join {{ $root.$config('siteName') }} through your share, you will get a text with a Bonus {{offerTypeDescPcase}}!</p>
        <p>Click the share button to post these {{offerTypeDescLcase}}s to your friends on Twitter.</p>
        <a @click="twitter" class="button orange">Share on Twitter</a>
        <a @click="closeOverlay" class="cancel">Cancel</a>
      </div>
    </div>

    <div v-if="overlay.popupText" @click.stop="closeOverlay" class="overlay overlay-popup-text">
      <a class="menu-button" @click.stop="closeOverlay" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="text-wrapper">
        {{ popupTextContent }}
      </div>
    </div>

    <div v-if="overlay.popupImage" @click.stop="closeOverlay" class="overlay overlay-popup-image">
      <a class="menu-button" @click.stop="closeOverlay" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="image-wrapper">
        <div class="caption">{{ popupImageCaption }}</div>
        <img :src="poupImageURL" />
      </div>
    </div>

    <div v-if="overlay.video" @click.stop="closeOverlay" class="overlay overlay-video">
      <a class="menu-button" @click.stop="closeOverlay" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="video-wrapper">
        <iframe :src="'https://www.youtube.com/embed/' + currentVideoID"></iframe>
      </div>
    </div>

    <div v-if="overlay.share" @click.stop="closeOverlay" class="overlay overlay-share">
      <a class="menu-button" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div class="offer-images active">
        <img class="offer-image" :src="this.offers[this.currentOffer].image" />
      </div>
      <div @click.stop class="share">
        <a @click="explanation('facebook')"><span>Facebook</span><img src="../../assets/images/icon-facebook.png" alt="Facebook" height="50"></a>
        <a @click="explanation('twitter')"><span>Twitter</span><img src="../../assets/images/icon-twitter.png" alt="Twitter" height="50"></a>
        <a @click="sms" href="sms:?&body=Check out this deal from {{ $root.$config('siteName') }} {{this.safeURL}}">
          <span>Text</span><img src="../../assets/images/icon-text.png" alt="Text" height="50">
        </a>
      </div>
    </div>

      <div v-if="overlay.firstSavedOfferMessage"  @click.stop="closeOverlay" class="overlay">
	    <div class="stop">
			<h1>This {{offerTypeDescLcase}} has been saved for later.<br/>Find all of your saved {{offerTypeDescLcase}}s in the Menu!</h1>
		</div>
      </div>

    <div v-if="noSubscriber" class="deal">
      <p>No subscriber info.</p>
    </div>

    <div v-else class="{{ isPreview ? 'preview' : '' }}">
      <div v-if="!noCampaign" class="deal">
        <div v-if="showMarketName" class="market&#45;header" v&#45;>Viewing {{offerTypeDescPcase}}s for <span>{{ market.state ? market.city + ", " + market.state : market.city }}</span></div>
				<div class="offer-images-wrapper">
					<div class="offer-images active" id="offer-images" @transitionend="transitionEnd">
            <div class="offer-image" v-if="offers.length === 0">No {{offerTypeDescPcase}} Assigned</div>
						<div class="offer-image" v-for="offer in offers">
							<h1 v-if="offer.redeemed" class="text-redeemed">REDEEMED</h1>
							<h1 v-if="offer.redeemed != true && new Date(offer.expirationDate) < Date.now()" class="text-redeemed">EXPIRED</h1>
              <h1 v-if="isPreview" class="text-redeemed">PREVIEW</h1>
							<img
								v-touch:pan="onPan"
								v-touch-options:pan="{ direction: 'horizontal' }"
								:class="{ 'offer-redeemed': offer.redeemed || new Date(offer.expirationDate) < Date.now() }"
								:src="offer.image"
								id="{{$index}}" >
						</div>
					</div>
          <div v-if="offers.length > 1" @click="slideLeft" class="prev"></div>
          <div v-if="offers.length > 1" @click="slideRight" class="next"></div>
				</div>
				<div v-for="offer in offers">
					<div v-if="currentOffer === $index" class="deal-markers">
						<span v-for="offer in offers" :class="{ active: $parent.$index == $index }"></span>
					</div>
				</div>

		<div v-if="offers.length > 0"  class="actions total-{{ currentButtons.length + 1 + hasContest }}">
          <p v-if="this.offers[this.currentOffer].redeemed" class="redeem-message">
          You redeemed this offer {{ this.offers[this.currentOffer].redeemed | moment "MMM Do [at] h:mm A" }}.</p>
          <template v-if="new Date(this.offers[this.currentOffer].expirationDate) > Date.now()">
            <div v-for="(i, button) in currentButtons">
              <!-- <a v&#45;if="button.name === 'button_redeem'" class="disabled redeem&#45;button button vhcenter"> -->
              <!--   <div>Redeemed!</div> -->
              <!-- </a> -->
              <a
                v-if="button.name === 'button_link'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                href="{{ getLinkUrl(button.fields) }}">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_popup_text'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                @click="openPopupText(button.fields)">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_popup_image'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                @click="openPopupImage(button.fields)">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_redeem'"
                @click="openRedeem"
                class="redeem-button button vhcenter n-{{ i }} {{ this.offers[this.currentOffer].redeemed ? 'disabled' : '' }}"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>{{ this.offers[this.currentOffer].redeemed ? 'Redeemed!' : button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_video'"
                class="button play-button n-{{ i }}"
                @click="openVideo(button.fields)"
                target="_blank">
                <img src="../../assets/images/icon-play.png" alt="" width="23">
                <span>{{ button.buttonLabel }}</span>
              </a>
              <a
                v-if="button.name === 'button_share'"
                @click="openShare"
                class="share-button button n-{{ i }}">
                <div><img src="../../assets/images/icon-share-2.png" alt="" width="23">Share <br v-if="currentButtons.length + 1 + hasContest >= 4">Offer</div>
              </a>
            </div>

            <div v-if="currentButtons.length === 0 && new Date(this.offers[this.currentOffer].lastUpdated) < new Date('2018-03-08T00:00:00.000Z')">
              <a
                v-if="this.offers[this.currentOffer].redeemable"
                @click="openRedeem"
                class="redeem-button button vhcenter"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>Redeem <br v-if="this.buttons.count >= 4">at Location</div>
              </a>
              <a
                v-if="this.offers[this.currentOffer].redeemed"
                class="disabled redeem-button button vhcenter">
                <div>Redeemed!</div>
              </a>
              <a
                v-if="this.offers[this.currentOffer].shareable"
                @click="openShare"
                class="share-button button"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <img src="../../assets/images/icon-share-2.png" alt="" width="23">
                <span v-if="this.buttons.count >= 4">Share <br v-if="this.buttons.count >= 4">{{offerTypeDescPcase}}</span>
                <span v-else>Share {{offerTypeDescPcase}}</span>
              </a>
            </div>

            <a
              v-if="this.savedOfferIDs.indexOf(this.offers[this.currentOffer].offerID) === -1"
              @click="saveOffer"
              class="save-button button vhcenter n-{{ currentButtons.length }}"
              title="{{ isPreview ? 'Disabled during preview' : '' }}">
              <div>Save <br v-if="this.buttons.count >= 4">for Later
              </div>
            </a>
            <a v-else class="disabled save-button button">Saved!</a>
            <a
              v-if="contestCheck(this.offers[this.currentOffer].marketID)"
              :href="getContestUrl(find(this.contest, ['marketID', this.offers[this.currentOffer].marketID]).urlToken)"
              class="contest-button button vhcenter">
              <div v-if="find(this.contest, ['marketID', this.offers[this.currentOffer].marketID]).buttonText == ''">
                Enter<br v-if="this.buttons.count >= 4">Contest!
              </div>
              <div v-if="find(this.contest, ['marketID', this.offers[this.currentOffer].marketID]).buttonText != ''">
                {{find(this.contest, ['marketID', this.offers[this.currentOffer].marketID]).buttonText}}
              </div>
            </a>
          </template>
        </div>


        <div class="copyright">{{ $root.copyright() }}</div>
      </div>

      <div v-else class="deal">
        <p>We do not have any current {{offerTypeDescLcase}}s in your area... but they are coming soon!</p>
        <p>To see where {{ $root.$config('siteName') }} is currently active, go to the MENU to view all {{ $root.$config('siteName') }} Markets.</p>
        <p>Stay tuned for great {{offerTypeDescLcase}}s in your area!</p>
        <p>If you feel that you have reached this page in error, please contact {{ $root.$config('siteName') }} at {{ phone }} or by email at <a href="mailto:{{ email }}">{{ email }}</a>.</p>

        <div class="copyright">{{ $root.copyright() }}</div>
      </div>
    </div>
  </div>
</template>

<script src="./index.js"></script>
<style lang="scss" src="./index.scss"></style>
