.form-group {
  overflow: hidden;
  margin-bottom: 5px;
}

.control-label {
  font-size: 1.6rem;
  font-weight: normal;
}

.control-label,
.form-group div {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.form-group .full-width div {
  width: 100%;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    background: $input-background;
}

input[type=number],
input[type=text],
select {
  display: block;
  box-sizing: border-box;
  padding: 0 5px;
  width: 100%;
  height: 2.5rem;
  background: $input-background;
  border: 2px solid #5e5e60;
  border-radius: 5px;
  color: $input-color;
}

.checkbox {
  margin: 20px 20px;
}

.checkbox.first {
  margin: 2.5rem 20px 0;
}

.checkbox div {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.checkbox label {
  color: #f89430;
  font-size: 1.4rem;
  overflow: auto;
}

.checkbox .has-error {
  width: 100%;
}

.has-error {
  color: red;
}

.form-group input[type=checkbox] {
    display: none;
}

.form-group input[type=checkbox] + span {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border: 1px solid #e8ebf2;
    border-radius: 5px;
    color: #2e2f33;
    font: 400 1.6rem/1.5rem "Roboto", sans-serif;
    text-align: center;
    vertical-align: middle;
}

.form-group input[type=checkbox]:checked + span:after {
    color: #f89430;
    content: "\2714";
}
