html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  max-width:  $container-width;
  background: $body-background;
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  position: relative;
  background-image: $body-background-image;
	background-position: 0px 0px;
	background-size: 100%;
}

.contestSelect {
  padding: 10px !important;
  color: #000;

  .headerText {
    text-align: left;
    font-size: 1.5rem;
    color: $title-text-color;
  }

  label {
    width: 100%;
    padding-top: 5px;
    color: $title-text-color;
  }

  input[type=number], input[type=text], select{
    width: 100%;
    height: 35px;
    background: #fff;
    color: #777777;
    border-radius: 3px;
    border: #fff;
  }

  .houseInc, .homeowner {
    width: 66%;
  }

  .form-group div {
    width: 100%;
  }

  .form-group .full-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      width: 32.5%;
      div{
        width: 100%;
      }
    }
  }

  .kidsBox {
    padding-top: 5px;

    .kidsLabel {
      width: 100%;
    }

     input[type="checkbox"]:checked {
      outline: none;
      background: radial-gradient(circle at center, #52b947 25%, #fff, #fff 100%);
    }

     input[type="checkbox"] {
      outline: none;
      border-radius: 50%;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background-color: #bbbbbb;
      border: 2px solid #bbbbbb;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin: 5px 3px 7px 0;
    }
  }

  .checkbox.first, .checkbox {
    margin: 15px 0;

    .form-group input[type="checkbox"] + span {
      border-radius: 0;
      border: 2px solid #bbbbbb;
    }

    label, a {
      color: $contest-link-text-color;
    }

    span {
      color: $title-text-color;
    }
  }

  p {
    color: $title-text-color;
    padding: 0;
  }

  .form-actions {
    display: flex;
    align-items: center;
    flex-direction: column;

    .button.orange {
      width: 300px;
      margin: 5px 0 10px;
      font-size: 1.7rem;
      background-color: $button-contest-submit-background-color;
      color: $button-contest-submit-text-color;
    }

    .button.backButton {
      background: transparent;
      color: #000;
      margin: 0 0 10px;
      font-size: 1.7rem;
    }
  }
}

a.vhcenter {
	position:relative;
	min-height: 50px;
}

a.vhcenter div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container {
  margin: 0 auto;
  max-width: $container-width;
}

.card {
  float: left;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.card.auto {
  height: auto;
}

.overlay-saved {
  margin-top: $header-height;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 1005;
  background: $header-background;
  text-align: center;
  border-bottom: $header-border-bottom;
  margin-bottom: $header-margin-bottom;
  .header-container {
    height: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-wrapper {
  background-image: $logo-background-image;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: $logo-height;
  width: $logo-width;
  display: inline-block;
	float: $logo-float;
  opacity: $logo-opacity;
  margin: $logo-margin;
}

.home-wrapper {
	display: $home-display;
  background-image: $home-background-image;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: $home-margin;
  padding: 0px 10px;
  height: 100%;
  color: $home-color;
  width: $home-width;
  height: $home-height;
  filter: $home-filter;
  float: $home-float;
}

.menu-button {
  float: $menu-button-float;
  font-size: $menu-button-font-size;
  animation: $menu-button-animation;
  margin: $menu-button-margin;
  background: $menu-button-background;
  text-transform: $menu-button-text-transform;
  padding: 5px 10px;
  border-radius: 3px;
  color: $menu-button-color;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.menu-button.open {
	transform: $menu-button-open-transform;
}

.menu-button .label:after {
  content: $menu-button-label-content;
}

.menu-button .icon--bars {
  display: $menu-button-bars-display;
}

.menu-button .icon--bars:before {
	content: "\E00A";
}


.back-button {
  color: $back-button-color;
  background: $back-button-background;
}

a.button {
  cursor: pointer;
  font: $button-font;
  background: $button-background;
  color: $button-color;
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0 20px 20px 0;
  padding: 10px;
  width: 100%;
  background: $button-background;
  border: none;
  border-radius: 5px;
  color: $button-color;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
}

.menu {
  position: fixed;
  z-index: 1009;
  height: 100%;
  width: 100%;
  max-width: 720px;
  background: $menu-background;
  background-image: $menu-background-image;
  font: $menu-font;
  top: $menu-top;
  color: $menu-color;
}

.menu ul {
  width: 100%;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

.menu ul li {
  width: 70%;
  margin: 5px auto;
}


@media (max-width: 470px) {
  .menu ul li {
    width: 90%;
  }
}


.menu ul li a.button {
  display: block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  font: $menu-font;
  color: $menu-color;
  text-transform: $menu-buttons-text-transform;
  &.color1 {
    background: $menu-buttons-color1-background;
  }
  &.color2 {
    background: $menu-buttons-color2-background;
  }
  &.color3 {
    background: $menu-buttons-color3-background;
  }

}

a.button.close img {
  float: right;
}

.overlay {
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: -$header-height;
  left: 0;
  z-index: 1000;
  padding: 20px 10px 0 10px;
  background: $overlay-background;
  background-image: $overlay-background-image;
}

.overlay.modal {
  background: rgba(0,0,0,0.8);
}

.modal-wrapper {
  position: absolute;
  background: white;
  max-width: 350px;
  border-radius: 10px;
  top: calc(50% - 130px);
  left: 0;
  right: 0;
  margin: auto;
  color: #333;
  padding: 10px;
  margin:15px;
}

.modal-wrapper p {
  font-size: 1.0em;
  padding: 5px;
}

.modal-button {
  float: right;
  margin-right: 25px;
  cursor: pointer;
}

.modal-button.ok {
  font-weight: bold;
}

/*
  version-bar: 1002
  help: 1001
  .deal: 1003 (view-more-offers)
  overlay defualt: 1004
  saved-offers: 1004
  profile: 1005
  overlay-share: 1005
  overlay-explanation: 1005

*/

.overlay.modal,
.overlay.overlay-profile,
.overlay.overlay-help,
.overlay.overlay-video,
.overlay.overlay-popup-text,
.overlay.overlay-popup-image,
.overlay.overlay-share,
.overlay.overlay-explanation {
  z-index: 1005;
}


.overlay.overlay-share {
  padding: 0 10px;
  .offer-image {
    margin-top: 30px;
		display: block;
		margin-left: auto;
		margin-right: auto;
  }
}

.overlay.overlay-saved {
  background: $overlay-saved-background;
  z-index: 1004;
}

.overlay.overlay-redeem {
  padding: 0 10px;
	z-index: 1004;
}

.overlay-video {
  .menu-button {
    z-index: 9999;
  }
  .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
    iframe {
      position: absolute;
      left: 0;
      top: 6vw;
      width: 100%;
      height: 100%;
    }
  }
}

.deal img {
  max-width: 100%;
}

.stop {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background: $stop-redeem-background;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.stop h1 {
  margin: 1rem auto;
  width: 75%;
  font-size: 1.6rem;
}

.stop p {
  margin: 1rem 0;
  padding: 0 10px 10px;
}

.stop .button {
  display: block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 10px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  color: #818285;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.stop a {
  color: #fff;
}

.share {
  margin-top: 10px;
  position: relative;
  overflow: auto;
  padding: 10px;
  background: $share-background;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.share a {
  float: left;
  display: block;
  width: 33%;
  min-height: 93px;
  color: $share-color;
  text-decoration: none;
	cursor: pointer;
}


.share span {
  display: inline-block;
  width: 100%;
}

.share a img {
  margin: 20px 0;
}

/*.share_img_gray {
  -webkit-filter: grayscale(.8) opacity(.6);
  filter: grayscale(.8) opacity(.6);
}*/

.share a:first-child {
  background: url(assets/images/shadow-border.png) 100% 50% no-repeat;
  background-size: 1px 93px;
}

.share a:last-child {
  background: url(assets/images/shadow-border.png) 0% 50% no-repeat;
  background-size: 1px 93px;
}

.explanation {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: auto;
  padding: 10px;
  background: #040707;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.explanation p {
  padding: 0 ;
  font-size: 16px;
}

.deal {
  overflow-x: hidden;
  overflow-y: auto;
  margin: ($header-height + $header-margin-bottom) 0 0;
  z-index: 1003;
  // border: 3px solid #fff;
}

.deal-image {
  width: 100%;
}

.deal-info {
  padding: 5px 20px;
  border-top: 3px solid #fff;
  background: #cdb05d;
  text-align: center;
}

.deal-info span {
  display: block;
}

.location-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.location-address {
  font-size: 1.2rem;
}

.deal-pricing h1,
.deal-pricing h2,
.deal-pricing h3 {
  margin: 0;
}

.deal-pricing h1 {
  position: relative;
  color: #fff;
  font-size: 3rem;
}

.deal-pricing h1 span {
  display: inline-block;
  position: relative;
  z-index: 10;
  padding: 0 20px;
  background: #cdb05d;
}

.deal-pricing h1:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 1px;
}

.deal-pricing h2 {
  color: #fff;
  font-size: 2.5rem;
}

.deal-pricing h3 {
  font-size: 1.3rem;
}

.deal-expiration {
  font-size: 1.2rem;
  font-weight: bold;
}

.deal-fine-print {
  margin: 0 -10px;
  font-size: .9rem;
}

.deal-markers {
  padding: 7px;
  margin: 0 0 10px;
  text-align: center;
}

.deal-markers span {
  display: inline-block;
  margin: 0 2.5px;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #eef0f0;
  vertical-align: middle;
}

.deal-markers span.active {
  background: #f89b3b;
}

.actions {
  padding: 0 0 0 20px;
}

.actions.square {
  padding: 0 0 20px 10px;
  overflow: hidden;
}

.actions.square .button {
  float: left;
  margin: 0 10px 10px 0;
  width: calc(50% - 10px);
  min-height: 75px;
}

.actions.square .button span {
  display: inline-block;
  text-align: left;
  padding-right: 20px;
  vertical-align: middle;
}

.actions .button {
  display: block;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 15px 5px;
  width: calc(100% - 20px);
  border-radius: 5px;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  &.save {
    // background: $save-button-background;
		// color: $save-button-color;
  }
}

.overlay-profile a.save-button,
.market-list a.button.save {
	background: $save-button-background;
	color: $save-button-color;
  text-transform: uppercase;
}

.play-button img,
.share-button img {
  margin: 0 10px 0 -35px;
  vertical-align: middle;
}

.play-button img {
  filter: $play-button-icon-filter;
  margin-right: 5px;
}
.share-button img {
  filter: $share-button-icon-filter;
}

.more-offers .offer .actions .button.view-button {
  background: $offer-list-view-button-background;
}

.offer {
  .name {
    display: $offers-name-display;
  }
  .location {
    display: $offers-location-display;
  }
}

.more-offers .offer .actions .button.save-button {
  background: $offer-list-save-button-background;
  &.disabled {
    background: $button-disabled-background;
  }
}

.deal .actions .button.share-button {
  background: $share-button-background !important;
  img {
    opacity: $share-button-icon-opacity;
  }
}
.deal .actions .button.redeem-button {
  background: $redeem-button-background !important;
  &.disabled {
    border: $redeem-button-disabled-border !important;
    color: $redeem-button-disabled-color !important;
    background: $redeem-button-disabled-background !important;
  }
}
.deal .actions .button.save-button {
  background: $save-button-background !important;
  &.disabled {
    background: $button-disabled-background !important;
  }
}

.preview .deal .button {
  &.save-button,
  &.redeem-button,
  &.share-button {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.button.contest-button {
  background: #FFF;
  color: #3092ce;
  font-weight: bold;
}

.copyright {
  align-self: flex-end;
  height: 20px;
  color: $base-text-color;
  font-size: 1rem;
  text-align: center;
}

.t-c {
  text-align: center;
}

.form-group {
  overflow: hidden;
  margin-bottom: 5px;
}

.control-label {
  font-size: 1.6rem;
  font-weight: normal;
}

.control-label,
.form-group div {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.form-group .full-width div {
  width: 100%;
}

input[type=text],
select {
  display: block;
  box-sizing: border-box;
  padding: 0 5px;
  width: 100%;
  height: 2.5rem;
  background: $input-background;
  border: 2px solid #5e5e60;
  border-radius: 5px;
  color: $input-color;
}

.checkbox {
  margin: 20px 20px;
}

.checkbox.first {
  margin: 2.5rem 20px 0;
}

.checkbox div {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.checkbox label {
  color: #f89430;
  font-size: 1.4rem;
  overflow: auto;
}

.checkbox .has-error {
  width: 100%;
}

.has-error {
  color: red;
}

.form-group input[type=checkbox] {
    display: none;
}

.form-group input[type=checkbox] + span {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border: 1px solid #e8ebf2;
    border-radius: 5px;
    color: #2e2f33;
    font: 400 1.6rem/1.5rem "Roboto", sans-serif;
    text-align: center;
    vertical-align: middle;
}

.form-group input[type=checkbox]:checked + span:after {
    color: #f89430;
    content: "\2714";
}

html {
  height: 100%;
}

.container {
  overflow: hidden;
}


.card {
  box-sizing: border-box;
}

.card.contest-thank-you {
  padding: 0 20px;
  justify-content: center;
  text-align: center;
}


h1 {
  font-size: 1.8rem;
  text-align: center;
  -webkit-margin-before: 0.5rem;
  -webkit-margin-after: 0.5rem;
}

h1.large {
  font-size: 3rem;
  font-weight: 300;
  //text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  color: $h2-color;
}

h2.large {
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 2rem;
  font-size: 1.8rem;
  font-weight: normal;
}

.logo.large {
  margin: 0 auto;
}

p {
  padding: 0 20px 20px 20px;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

.button.disabled {
  background: $button-disabled-background;
	cursor: not-allowed;
}

a {
  color: #179ad9;
}

a.cancel {
  color: #aaa;
  text-decoration: underline;
}
a.no-format {
  text-decoration: none;
  color: inherit;
}


// font icons
[class*="icon--"] {
	text-decoration: none;
	border-bottom: none;
	font-family: "icons";
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.offer-images-wrapper {
  position: relative;
  white-space: nowrap;
  margin: 0 0 10px;
  width: 100%;
  overflow: hidden;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.offer-image {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  max-width: 500px;
  width: 100%;
}

.offer-image:first-child {
	/* margin-left: calc((100% - 500px) / 2); */
}

@media (max-width: 500px) {
	.offer-image {
		/* width: 90%; */
	}
	.offer-image:first-child {
		/* margin-left: 5%; */
	}
}

.offer-images.active {
  transition: transform 400ms ease-in-out;
	margin-left:auto;
	margin-right:auto;
	position: relative;
}

.offer-redeemed {
  filter: grayscale(100%);
  margin-left:auto;
  margin-right:auto;
  position: relative;
}
.offer-example-image {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.text-example {
  ointer-events: none;
  position: absolute;
  top: 50%;
  margin-left:auto;
  margin-right:auto;
  transform: translateY(-50%) rotate(-35deg);
  width: 100%;
  z-index: 10;
  color: #777;
  font: bold 5rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.text-redeemed {
  pointer-events: none;
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%) rotate(-35deg);
  width: 100%;
  z-index: 10;
  color: #777;
  font: bold 5rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.colored-list:nth-child(3n+0) a {
	background-color: #52b947;
}

.colored-list:nth-child(3n+1) a {
	background-color: #f89a3b;
}
.colored-list:nth-child(3n+2) a {
	background-color: #1692ce;
}

#header-title {
	display:inline-block;
	font-size: 20px;
	margin-top: 15px;
	vertical-align: top;
}

////////////////////// theme overrides

.container {
}
.card .market-list .market .button {
	font-size: $market-button-font-size;
	text-transform: $market-button-text-transform;
  background: $market-button-background;
  color: $market-button-color;
  &.unselected {
    background: $market-button-unselected-background;
    color: $market-button-unselected-color;
    opacity: $market-button-unselected-opacity;
  }
  .checkmark {
    filter: $market-button-checkmark-filter;
  }
}
.market-list .save.button {
  background: $market-save-button-background;
  color: $market-save-button-color;
}

.card {
  .deal {
    .actions {
      .button {
        &.save-button.disabled {
          background: $saved-button-background;
          color: $saved-button-color;
          border: $saved-button-border;
        }
        &.n-0, &.n-3, &.n-6 {
          background: $offer-button-1-background;
        }
        &.n-1, &.n-4, &.n-7 {
          background: $offer-button-2-background;
        }
        &.n-2, &.n-5, &.n-8 {
          background: $offer-button-3-background;
        }
      }
    }
  }
}

.more-offers {
  select.market {
    display: $offers-market-select-display;
  }
  select.sort {
    display: $offers-sort-select-display;
  }
  select.category {
    display: $offers-category-select-display;
  }
}


.saved-offer .info,
.offer .details {
  .expiration {
    color: $view-offer-expiration-color;
    font-size: $view-offer-expiration-font-size;
  }
  .name {
    font-size: $view-offer-name-font-size;
  }
}

div.socialbar {
  display: $socialbar-display;
  background: $socialbar-background;
  height: $socialbar-height;
  max-width: $container-width;
  .wrapper {
    background-image: $socialbar-wrapper-background-image;
    .icon {
      a {
        filter: $socialbar-icon-filter;
        background-size: $socialbar-icon-background-size;
        background-color: $socialbar-icon-background-color;
        border-radius: $socialbar-icon-border-radius;
        border: $socialbar-icon-border;
        padding: $socialbar-icon-padding;

        &:active,
        &:hover {
          border: $socialbar-icon-hover-border;
          filter: $socialbar-icon-hover-filter;
        }
      }
      &.facebook a {
        background-image: $socialbar-icon-facebook-background-image;
      }
      &.linkedin a {
        background-image: $socialbar-icon-linkedin-background-image;
      }
      &.email a {
        background-image: $socialbar-icon-email-background-image;
      }
      &.twitter a {
        background-image: $socialbar-icon-twitter-background-image;
      }
      &.address a {
        background-image: $socialbar-icon-address-background-image;
      }
      &.phone a {
        background-image: $socialbar-icon-phone-background-image;
      }
      &.instagram a {
        background-image: $socialbar-icon-instagram-background-image;
      }
      &.other a {
        background-image: $socialbar-icon-other-background-image;
      }
    }
  }
}

#version-bar {
	display: $version-bar-display;
}
