<template>
  <div class="card single-offer">
    <barcode
      v-if="overlay.barcode && offer.hasCoupon"
      class="overlay overlay-redeem"
      :class="{ 'overlay-redeem2': newDesign }"
      :visible-modal.sync="overlay.barcode"
      :value="offer.codeValue.toString()"
      :offer="offer"
      :type="offer.couponType"
      :image-url="offer.imageURL"
    ></barcode>

    <div v-if="overlay.redeem" @click.stop="closeOverlay" class="overlay overlay-redeem" :class="{'overlay-redeem2' : newDesign}">
      <div v-if="offer.offerRedeemID == null" @click.stop class="stop">
        <img v-if="!newDesign" src="../../assets/images/icon-stop.png" alt="" height="100">
        <img v-if="newDesign" src="../../assets/images/location_icon.png" alt=""/>
        <div v-if="!newDesign">
          <h1>Are you sure you want to redeem {{offer.businessName}}?</h1>
          <h1>Are you at the business location?</h1>
        </div>
        <div v-if="newDesign">
          <h1>Are you sure? Make sure you are at the business location and ready to make your purchase before you redeem! This offer can only be used once!</h1>
        </div>
        <template v-if="!$root.validMarket">
          <p v-if="$root.$config('siteName')!== 'Where Deals'">You should only redeem an {{offerTypeDescLcase}} when you are at the business making the purchase. This {{offerTypeDescLcase}} can only be redeemed 1 time.</p>
          <p v-if="$root.$config('siteName') === 'Where Deals'">You should only redeem a {{offerTypeDescLcase}} when you are at the business making the purchase. This {{offerTypeDescLcase}} can only be redeemed 1 time.</p>
        </template>
        <p v-if="errorMessage !== ''" class="large">{{errorMessage}}</p>

        <p v-if="!newDesign">Are you sure you want to redeem now?</p>
        <a @click.prevent="openOverlay('barcode')" class="button button2">Redeem Now</a>
        <a @click.stop="closeOverlay" class="button cancel">Cancel</a>
      </div>

      <div v-else class="stop">
        <h1>You've successfully redeemed this {{offerTypeDescLcase}}!</h1>
      </div>
    </div>
    <div v-if="overlay.share" @click.stop="closeOverlay" class="overlay overlay-share"
         :class="{'overlay-share2' : newDesign}">
      <div :class="{'white-container' : newDesign}">
        <div v-if="newDesign">
          <h1>{{shareButtonData.title}}</h1>
          <h2>{{shareButtonData.description}}</h2>
          <a class="menu-button"><span></span></a>
        </div>
        <a v-if="!newDesign" class="menu-button" style="position:absolute;top:0;right:0;color:#fff">Close</a>
        <div class="offer-images active">
        <div class="offer-image-box">
          <img class="offer-image" :src="offer.shareImage" alt=""/>
          <div :class="{ locked: shareButtonData.isDefaultButtonLabel }">
            <img alt="" width="150" src="../../assets/images/locked.png"/>
          </div>
        </div>
        </div>
        <div @click.stop v-if="newDesign" class="share">
          <a @click="explanation('facebook')">
            <img alt="" src="../../assets/images/social/fb_icon-new.png" height="50"/>
            <span>Facebook</span>
          </a>
          <a @click="explanation('twitter')"><img alt="" src="../../assets/images/social/twitter-new.png" height="50" /><span>Twitter</span></a>
          <a>
            <img src="../../assets/images/social/text-new.png" height="50" alt=""/><span>Text</span>
          </a>
        </div>
        <div @click.stop class="share" v-if="!newDesign">
          <a @click="explanation('facebook')"><span>Facebook</span><img src="../../assets/images/icon-facebook.png" alt="Facebook" height="50" /></a>
          <a @click="explanation('twitter')"><span>Twitter</span><img src="../../assets/images/icon-twitter.png" alt="Twitter" height="50" /></a>
          <a @click="sms" href="sms:?&body=Check out this deal from {{ this.$root.$config('siteName') }} {{this.safeURL}}">
            <span>Text</span><img  src="../../assets/images/icon-text.png" alt="Text" height="50" /></a>
        </div>
      </div>
    </div>

    <div v-if="overlay.explanation" @click.stop="closeOverlay" class="overlay overlay-explanation">
      <div v-if="overlay.facebook" class="explanation">
        <!-- <h1><img class="logo" src="../../assets/images/logo&#45;02.png" alt="TapOnIt"></h1> -->
        <h1 class="large">Share This {{offerTypeDescPcase}}</h1>
        <p>When you share {{ $root.$config('siteName') }} with someone new and they join through your share you will get a text with a Bonus {{offerTypeDescPcase}}!</p>
        <p>Tap the share button to post this offer to your friends on Facebook!</p>
        <a class="button">Share on Facebook</a>
        <a @click="closeOverlay" class="cancel">Cancel</a>
      </div>

      <div v-if="overlay.twitter" class="explanation">
        <!-- <h1><img class="logo" src="../../assets/images/logo&#45;02.png" alt="TapOnIt"></h1> -->
        <h1 class="large">Share This Offer</h1>
        <p>When you share {{ $root.$config('siteName') }} with someone new and they join through your share you will get a text with a Bonus {{offerTypeDescPcase}}!</p>
        <p>Tap the share button to tweet this offer.</p>
        <a class="button">Share on Twitter</a>
        <a @click="closeOverlay" class="cancel">Cancel</a>
      </div>
    </div>
    <div v-if="overlay.popupText" @click.stop="closeOverlay" class="overlay overlay-popup-text">
      <a class="menu-button" @click.stop="closeOverlay" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="text-wrapper">
        {{ popupTextContent }}
      </div>
    </div>

    <div v-if="overlay.popupImage" @click.stop="closeOverlay" class="overlay overlay-popup-image">
      <a class="menu-button" @click.stop="closeOverlay" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="image-wrapper">
        <div class="caption">{{ popupImageCaption }}</div>
        <img alt="" :src="poupImageURL" />
      </div>
    </div>

    <div v-if="overlay.video" @click.stop="closeOverlay" class="overlay overlay-video">
      <a class="menu-button" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="video-wrapper">
        <iframe :src="'https://www.youtube.com/embed/' + currentVideoID"></iframe>
      </div>
    </div>

    <div v-if="overlay.firstSavedOfferMessage"  @click.stop="closeOverlay" class="overlay">
      <div class="stop">
        <h1>This {{offerTypeDescLcase}} has been saved for later.<br/>Find all of your saved {{offerTypeDescLcase}}s in the Menu!</h1>
      </div>
    </div>

    <location-overlay
      v-if="newDesign && offer.locations"
      v-show="overlay.location"
      :locations="offer.locations"
      :preview="true"
      :business-name="offer.businessName"
      class="overlay" style="z-index: 1008"></location-overlay>

    <div class="deal" :class="{ 'deal2' : newDesign }" style="margin: 0">
      <div class="offer-images-wrapper offer-images-wrapper2">
        <div class="offer-images active" id="offer-images">
          <div class="offer-image">
            <div v-if="offer.redeemed" class="redeemed-container">
              <h1 class="redeemed"><img src="../../assets/images/check-white.png" />REDEEMED</h1>
            </div>
            <div v-if="offer.redeemed !== true && new Date(expirationDate) < Date.now()" class="redeemed-container">
              <h1 class="expired">EXPIRED</h1>
            </div>
            <img :class="{ 'offer-redeemed': offer.redeemed || new Date(expirationDate) < Date.now() }"
                 :src="offer.image"/>
            </div>
          </div>
        </div>

      <div v-if="newDesign" class="location-container">
        <a
          v-if="offer.locations && offer.locations.length > 0"
          @click.prevent="openOverlay('location')"
          class="location right-margin-10">
          <p>Locations</p>
          <img alt="" style="width: 26px;" src="../../assets/images/locations_icon.png"/>
        </a>
        <a
          class="star"
          title="{{ isPreview ? 'Disabled during preview' : '' }}">

        </a>
        <a @click="switchStar" v-else :class="{ disabled: !saved }" class="star">
          <canvas class="star-class"
                  :class="{ 'active-star': saved, 'inactive-star': !saved}" ></canvas>
        </a>
      </div>
      <div v-if="newDesign" class="offer-container2">
        <h1>{{offer.businessName}}</h1>
        <p>{{offer.descriptionText}}</p>
        <p v-if="!offer.isBonusOffer">{{offer.shareText}}</p>
        <h1 style="color: red; text-align: center" class="expires"
            v-if="offer.isExpirationVisible">
            OFFER EXPIRES: {{ expirationDate | moment "MMMM DD, YYYY" }}
        </h1>
        <p class="grey">{{offer.disclaimerText}}</p>
      </div>
      <div :class="calculateClass" class="actions" >
          <p v-if="offer.redeemed">You redeemed this {{offerTypeDescLcase}} {{ offer.redeemed | moment "MMMM Do YYYY[at] h:mm A" }}.</p>
          <template v-if="new Date(expirationDate) > Date.now()">
            <div v-for="(i, button) in offer.buttons">
              <a
                v-if="button.name === 'button_call'"
                class="button vhcenter n-{{ i }}"
                :href="'tel:' + getFieldByName(button.fields, 'button_call_number')">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_link'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                href="{{ getFieldByName(button.fields) }}">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_bonus_link'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                :href="getFieldByName(button.fields)">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_popup_text'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                @click="openPopupText(button.fields)">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_popup_image'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                @click="openPopupImage(button.fields)">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_redeem'"
                @click.prevent="openOverlay('redeem')"
                class="redeem-button button vhcenter n-{{ i }}"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_bonus_redeem'"
                @click.prevent="openOverlay('redeem')"
                class="redeem-button button vhcenter n-{{ i }}"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_video'"
                class="button play-button n-{{ i }}"
                @click="openVideo(button.fields)"
                target="_blank">
                <img src="../../assets/images/icon-play.png" alt="" width="23">
                <span>{{ button.buttonLabel }}</span>
              </a>
              <a
                v-if="button.name === 'button_share'"
                @click.prevent="openOverlay('share', button)"
                class="share-button button n-{{ i }}">
                <div>
                  <img v-if="!newDesign"
                       src="../../assets/images/icon-share-2.png" alt="" width="23">
                  <template v-if="newDesign">
                    {{ button.buttonLabel }}
                  </template>
                  <template v-if="!newDesign">
                    Share<br v-if="currentButtons.length + 1  >= 3 && hasContest">Offer
                  </template>
                </div>
              </a>
            </div>
            <div
              v-if="offer.buttons.length === 0 && new Date(this.offer.lastUpdated) < new Date('2018-03-08T00:00:00.000Z')">
              <a
                v-if="offer.redeemable && !offer.redeemed"
                @click.prevent="openOverlay('redeem')"
                class="redeem-button button vhcenter"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>Redeem <br v-if="offer.buttons.length >= 4">at Location</div>
              </a>
              <a
                v-if="offer.redeemed"
                class="disabled redeem-button button vhcenter">
                <div>Redeemed!</div>
              </a>
              <a
                v-if="offer.shareable"
                @click.prevent="openOverlay('share')"
                class="share-button button"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <span v-if="offer.buttons.length >= 4"><img src="../../assets/images/icon-share-2.png" alt="" width="23">Share <br v-if="offer.buttons.length >= 4">Offer</span>
                <span v-else><img src="../../assets/images/icon-share-2.png" alt="" width="23">Share Offer</span>
              </a>
            </div>
          <div v-if="!newDesign">
            <a
              class="save-button button vhcenter {{ offer.buttons.length > 0 ? 'n-' + offer.buttons.length : ''  }}"
              title="{{ isPreview ? 'Disabled during preview' : '' }}">
              <div>Save <br v-if="offer.buttons.length >= 4">for Later
              </div>
            </a>
          </div>
          </template>
        </div>
      <div class="copyright">{{ $root.copyright() }}</div>
    </div>
  </div>
</template>

<script>
  import * as _ from 'lodash';
  export default {
    name: 'offer-preview',
    components: {
      'location-overlay': require('../location/location'),
      'barcode': require('../coupon-code')
    },
    data() {
      return {
        saved: false,
        overlay: {
          barcode: false,
          redeem: false,
          share: false,
          menu: false,
          explanation: false,
          facebook: false,
          twitter: false,
          firstSavedOfferMessage: false,
          video: false,
          popupImage: false,
          location: false,
          popupText: false
        },
        offer: {
          buttons: [],
          descriptionText: '',
          disclaimerText: '',
          expirationDate: '',
          isExpirationVisible: '',
          isBonusExpirationVisible: '',
          image: '',
          bonusDisclaimerText: '',
          bonusDescriptionText: '',
          includeInViewMoreOffers: '',
          marketID: '',
          couponType: '',
          hasCoupon: false,
          name: '',
          redeemable: '',
          shareImage: '',
          shareText: '',
          shareable: '',
          shortDescriptionText: ''
        },
        shareButtonData: {
          title: 'Are you up for more?',
          description: 'Share with someone new to unlock this bonus offer!',
          isDefaultButtonLabel: true
        },
        currentVideoID: null,
        poupTextContent: '',
        popupImageURL: '',
        popupImageCaption: '',
        newDesign: false
      };
    },
    created() {
      if (!this.$route.query.offerGUID) {
        Object.entries(this.$route.query)
          .forEach(([key, value]) => {
            this.offer[key] = ['', 'undefined'].includes(value) ? '' : JSON.parse(value);
          });
        this.offer.buttons = this.offer.buttons
          .concat(...this.offer.buttons.map(e => e.fields))
          .filter(e =>
            (this.offer.isBonusOffer && /.*_bonus_.*/ig.test(e.name)) ||
            (!this.offer.isBonusOffer && !/.*_bonus_.*/ig.test(e.name))
          )
          .sort((a, b) => a.sort - b.sort);

        ['expirationDate', 'bonusOfferExpirationDate',
          'optInStartDate', 'viewMoreOffersStartDate', 'bonusOfferExpirationDate']
          .map(e => {
            this.offer[e] = (+this.offer[e] * 1000) || this.offer[e];
          });
        if (this.offer.isBonusOffer) {
          this.offer.descriptionText = this.offer.bonusDescriptionText;
          this.offer.disclaimerText = this.offer.bonusDisclaimerText;
          this.offer.isExpirationVisible = this.offer.isBonusExpirationVisible;
          this.offer.image = this.offer.shareImage;
        }

        this.$root.evaluateMarkets(this.offer.marketID, true)
          .then((newDesign) => {
            this.newDesign = newDesign;
          });
      } else {
        return this.$http.get(this.$config('baseURL') +
          '/offers/getOfferPreview?offerGUID=' + this.$route.query.offerGUID +
          '&isBonus=' + this.$route.query.bonus)
          .then((e) => e.json())
          .then((response) => {
            this.offer = Object.assign({}, ...response.records, { buttons: [] });
            const offerID = (this.$route.query.bonus === 'true') ? this.offer.parentOfferID : this.offer.offerID;
            this.$http.get(`${this.$config('baseURL')}/offerField/getAllAttached?offerID=${offerID}`)
              .then((e) => e.json())
              .then((response) => {
                this.offer.buttons.push(...this.currentButtons(response.records));
              });

            this.$root.evaluateMarkets(this.offer.marketID || this.offer.parentMarketID, true)
              .then((newDesign) => {
                this.newDesign = newDesign;
              });
          });
      }
    },
    computed: {
      calculateClass() {
        let classes = '';
        if (this.$root.validMarket) {
          classes += 'button2';
        } else if (this.hasContest && this.offer.redeemable) {
          classes += 'square ';
        }
        return classes;
      },
      expirationDate() {
        return this.offer.isBonusOffer ? this.offer.bonusOfferExpirationDate : this.offer.expirationDate;
      }
    },
    methods: {
      redeemOffer() {
        this.closeOverlay();
        this.barCodeVisible = true;
      },
      getFieldByName(fields, name = 'button_link_url') {
        return _.find(fields, { name }).value;
      },
      switchStar() {
        this.saved = !this.saved;
      },
      openOverlay(overlay, button) {
        this.closeOverlay();
        this.overlay[overlay] = true;
        if (button) {
          this.shareButtonData.isDefaultButtonLabel = button.buttonLabel === 'Unlock Bonus Offer';
          button.fields.forEach((e) => {
            if (e.name === 'button_popup_text') {
              this.shareButtonData.title = e.value || e.defaultValue;
            } else if (e.name === 'button_popup_description') {
              this.shareButtonData.description = e.value || e.defaultValue;
            }
          });
        }
      },
      closeOverlay() {
        Object.keys(this.overlay).forEach((key) => {
          this.overlay[key] = false;
        });
      },

      openVideo() {
        this.currentVideoID = this.offer.youtubeVideoID;
        this.overlay.video = true;
      },

      openPopupImage(fields) {
        this.popupImageURL = _.find(fields, { name: 'button_popup_image_url' }).value.split('/').pop();
        this.popupImageCaption = _.find(fields, { name: 'button_popup_image_caption' }).value.split('/').pop();
        this.overlay.popupImage = true;
      },

      openPopupText(fields) {
        this.popupTextContent = _.find(fields, { name: 'button_popup_text_content' }).value.split('/').pop();
        this.overlay.popupText = true;
      },

      explanation(site) {
        this.overlay.share = false;
        this.overlay.explanation = true;
        this.overlay[site] = true;
      },

      currentButtons(buttons) {
        return _.map(
          _.filter(buttons, { type: 'button', offerID: this.offer.offerID }),
          (p) => {
            if (['button_redeem', 'button_share', 'button_bonus_redeem'].indexOf(p.name) !== -1) {
              p.hidden = true;
            }
            p.fields = _.map(
              _.filter(buttons, { parentID: parseInt(p.offerFieldID), sort: parseInt(p.sort) }), f => {
                return f;
              });
            const existing = _.findIndex(p.fields, { type: 'button_label' });
            p.buttonLabel = p.fields[existing].value;
            p.labelID = p.fields[existing].offerFieldID;
            p.fields.splice(existing, 1);
            return p;
          }
        ).sort((a, b) => a.sort - b.sort);
      }
    }
  };
</script>
<style scoped lang='scss'>
 @import '../../assets/themes/custom.scss';

 .star-class {
   width: 25px;
   background-size: contain;
   height: 21px;
   background-repeat: no-repeat;
   background-position: center;
 }
  .active-star {
    background-image: $active-star-image;
  }

 .inactive-star {
   background-image: $inactive-star-image;
 }

  .overlay .overlay-share {
    padding: 0;
  }
  .signup-form {
    padding: 0 20px;
  }
  .button {
    &.cancel {
      background: transparent;
    }
  }
  .overlay-share2 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #000;
    .white-container {
      background-color: #fff;
      border-radius: 5px;
      position: relative;
      top: 15%;
      padding: 10px 5px;
      h1, h2 {
        text-align: left;
        padding: 0 8px;
        color: #000;
      }
      .offer-images {
        display: flex;
        justify-content: center;
        .offer-image-box {
          position: relative;
          .offer-image {
            position: relative;
            margin: 0;
          }
          .locked {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }

      .menu-button {
        background-color: transparent;
        color: #b1b1b1;
        position:absolute;
        top:5px;
        right:10px;
        padding: 0;
        margin: 0;
        span:before {
          content:'\2715';
          font-size: 33px;
        }
      }
      .share {
        background-color: transparent;
        a {
          color: black;
          border: none;
          background-image: none;
          height: auto;
          img {
            margin: 0;
          }
          span {
            margin-top: 10px;
          }
        }

      }
    }
  }
  // THIS IS NEW DESIGN

  .deal2 {
    padding: 5px;
    color: #000;
    a {
      cursor: pointer;
      text-decoration:none;
    }


    .offer-images-wrapper2 {
      margin: auto;

      .redeemed-container {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .redeemed {
          position: absolute;
          bottom: 5%;
          width: 63%;
          z-index: 10;
          color: #fff;
          font-size: 28px;
          font-weight: bold;
          background: transparent linear-gradient(90deg, #20C44B 0%, #049C1C 100%) 0% 0% no-repeat padding-box;
          border-radius: 35px;
          border: 2px solid #68FF48;
          padding: 14px 7px;
          max-width: 300px;

          img {
            margin-right: 7px;
            width: 27px;
          }
        }

        .expired {
          position: absolute;
          bottom: 5%;
          width: 62%;
          z-index: 10;
          color: #fff;
          font-size: 28px;
          font-weight: bold;
          background: transparent linear-gradient(90deg, #FA0E4E 0%, #D00022 100%) 0% 0% no-repeat padding-box;
          border-radius: 35px;
          border: 2px solid #FF4E49;
          padding: 14px 7px;
          max-width: 300px;
        }
      }
    }

    .location-container {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      padding-top: 8px;
    }
    .right-margin-10 {
      margin-right: 5px;
    }
    .location {
      display: flex;
      align-items: center;
      color: $base-text-color;
      p {
        padding: 0;
        margin: 0;
      }
      img {
        margin-left: 10px;
      }
    }

    .star span:before {
      content: '\2605';
      color: #d3d2d2;
      font-size: 35px;
    }
    .disabled  span:before {
      color: #ffc33d;
    }
    .offer-container2 {
      padding: 0 5px 5px 5px;
      h1, p {
        text-align: left;
      }
      h1 {
        font-size: 20px;
      }
      p {
        padding: 0;
        margin-top: 0;
        font-size: 18px;
        opacity: 0.8;
      }
      .expires {
        font-size: 16px;
      }
      .grey {
        font-size: 15px;
        opacity: 0.5;
        margin-top: 15px;
      }
    }

    .button2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0;
      align-items: center;
      a.button {
        border-radius: 8px;
        width: 280px;
        white-space: nowrap;
        .redeemed:before {
          width: 6px;
          border-bottom: 4px solid #fff;
          border-right: 4px solid #fff;
          position: absolute;
          left: -25px;
          height: 12px;
          content: "";
          transform: rotate(40deg);
          z-index: 1;
        }
      }
      a.redeem-button {
        background-color: #52b947 !important;
      }
      a.share-button {
        background-color: #f79a3a !important;
      }
      .contest-button {
        background-color: #a9a9a9;
        color: #fff !important;
      }
    }
  }

  //design 2 redeem//
  .overlay.overlay-redeem2 {
    padding: 0;
    height: 100%;
    z-index: 1006;
  }
  .overlay-redeem2 {
    padding: 0;
    background: rgba(4, 6, 6, 0.6);
    .stop {
      background-color: #fff;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 20px;
      transform: none;
      top: 30%;
      h1 {
        font-weight: normal;
        width: 100%;
        margin: 15px 0 10px;
      }
      img {
        width: 45px;
      }
      p {
        padding: 0;
      }
      .button {
        width: 250px;
      }
      .button2 {
        background-color: #54b846;
        color: #fff;
        padding: 12px;
      }
    }
  }
</style>
