@font-face {
	font-family: "roboto-mono_regular";
	src: url("assets/themes/mac/fonts/roboto-mono_regular.woff") format("woff");
}

@font-face {
	font-family: "icons";
	src: url("assets/themes/mac/fonts/icons.woff") format("woff");
}

@font-face {
	font-family: "TradeGothicBold";
	font-weight: "normal";
	font-style: "normal";
	src: url("assets/themes/mac/fonts/TradeGothic-Bold.woff") format("woff");
}

$body-background: #040707;
$body-color: #fff;

$body-font-size: 1rem;
$body-font-family: "roboto-mono_regular",Helvetica,Arial,Sans-Serif;
$body-line-height: 1.5;

$input-color: #fff;
$input-background: #111;

$button-font: 2rem/1 "TradeGothicBold", Helvetica, Arial, Sans-Serif;
$button-background: #fff;
$button-color: #000;
$ubtton-disabled-background: #444;

$overlay-background: rgba(4, 6, 6, 0.95);
$overlay-saved-background:(4, 6, 6, 1);

$header-height: 60px;
$header-background: #040707;
$logo-background-image: url("assets/themes/mac/images/logo.jpg");

$home-width: 25px;
$home-height: 25px;
$home-filter: invert(80%);
$home-background-image: url("assets/themes/mac/images/home.svg");
$home-float: right;
$home-display: inline-block;

$menu-button-float: left;
$menu-button-animation: all 4s ease infinite;
$menu-button-font-size: 15px;
$menu-button-margin: 16px;
$menu-button-text-transform: uppercase;
$menu-button-open-transform: rotate(90deg);
$menu-button-label-content: "";
$menu-button-background: transparent;
$menu-button-bars-display: inline-block;
$menu-button-color: #fff;

$menu-font: 2.5rem/1 "TradeGothicBold", Helvetica, Arial, Sans-Serif;
$menu-top: 60px;
$menu-color: #fff;
$menu-background: rgba(0, 0, 0, 0.95);
$menu-buttons-text-transform: uppercase;
$menu-buttons-color1-background: #000;
$menu-buttons-color2-background: #000;
$menu-buttons-color3-background: #000;

$share-background: #fff;
$share-color: #000;

$redeem-button-background: #fff;
$share-button-background: #fff;
$save-button-background: #ccddea;
$offer-button-1-background: #fff;
$offer-button-2-background: #fff;
$offer-button-3-background: #fff;

.share a {
  color: #000;
}

.share a:first-child {
  background-size: 1px 93px;
}

.share a:last-child {
  background-size: 1px 93px;
}

.button {
  background: white;
  color: #000;
}

.actions .button {
  font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: bold;
}

.play-button img,
.share-button img {
  margin: 0 5px 0 -10px;
}

$offer-list-view-button-background: #ccddea;
$view-offer-name-font-size: 1.4rem;

.form-actions .button {
  cursor: pointer;
  border: 3px #ccc;
  border-style: groove;
  background: #ccddea;
}

$market-button-font-size: 2rem;
$market-button-text-transform: uppercase;
$market-button-background: #fff;
$market-button-color: #000;
$market-button-unselected-background-color: #222;
$market-button-unselected-color: #ccc;
$market-button-checkmark-filter: invert(100%);
$market-save-button-background: #ccddea;
$market-save-button-color: #000;

$socialbar-icon-filter: invert(100%);
$socialbar-icon-hover-border: none;
$socialbar-icon-hover-filter: invert(100%);

$version-bar-display: none;
