<template>
  <div v-if="overlay.menu" transition="fadeModal" @click.stop="closeOverlay" class="menu">
    <ul>
      <li>
        <a @click.stop="openOverlay('profile')" class="button color1">
          My Profile
        </a>
      </li>
      <li>
        <a @click.stop="openOverlay('saved')" class="button color2">
          View Saved Offers
        </a>
      </li>
      <li>
        <a @click.stop class="button color3" href="/more-offers/{{ subscriberGUID }}">
          View More Offers
        </a>
      </li>
      <li>
        <a @click.stop class="button color1" href="/sm/{{ subscriberGUID }}">
          Markets
        </a>
      </li>
      <li>
        <a @click.stop="openOverlay('help')" class="button color2">Help</a>
      </li>
      <li>
        <a @click="closeOverlay" class="close button color3">Close</a>
      </li>
    </ul>
  </div>
</template>

<script type="text/javascript">
  export default {
    props: ['overlay', 'openOverlay', 'closeOverlay']
  }
</script>
