<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>
<template>
    <version v-if="this.$config('environment') !== 'production'"></version>
    <div class="header" :class="{ 'high-z-index': overlayOpened }" >
        <div class="header-container" :class="{'new-header-container': newDesign }">
          <a @click="goTo(homeIconLink)" target="{{ homeIconLinkNewTab}}" class="home-wrapper"></a>
          <a @click="goTo(homeIconLink)" class="logo-wrapper"></a>
          <div :class="{ 'menu-container': newDesign}">
            <a class="menu-button"
             :class="{
              'open' : overlay.menu,
             'no-content': newDesign
           }" @click="toggleOverlay('menu')">
              <i class="icon--bars"></i>
              <span class="label"></span>
            </a>
          </div>
        </div>
    </div>

    <div v-if="cookiesDisabled" @click.stop="closeOverlay" class="overlay overlay-explanation">
        <div class="explanation">
            <h1>Cookies Required</h1>
            <p>{{ $root.$config('siteName') }} requires the use of cookies to function, and cookies are disabled in your browser. Please enable cookies and reload this page.</p>
        </div>
    </div>

    <menu :overlay.sync="overlay"
          :open-overlay="openOverlay"
          :close-overlay="closeOverlay"></menu>

    <div v-if="overlay.modal" transition="fadeModal" @click.stop="closeModal" class="overlay modal">
        <div class="modal-wrapper">
            <p>{{modalText}}</p>
            <a class="modal-button" @click.stop="confirmModal">Yes</a>
            <a class="modal-button" @click.stop="closeModal">No</a>
        </div>
    </div>
</template>

<script src="./joi-header.js"></script>

<style scoped lang="scss">
  .high-z-index {
    z-index: 1010;
  }
  .no-content .label:after {
    content: '\2261';
  }
  .new-header-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    .menu-container {
      position: absolute;
      right: 0;
      display: flex;
      align-self: center;
      .label {
        font-size: 40px;
      }
    }
  }

  .no-content {
    margin: 0 5px;
    background:transparent;
  }
  .no-content.open .label:after {
    content: '\2715';
    font-size: 31px;
  }

    .overlay-help h2,
    .overlay-help p {
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }
</style>
