<template>
  <div v-if="overlay.menu" transition="fadeModal" @click.stop="closeOverlay" class="menu" :class="{ 'new-menu': $root.validMarket }">
    <ul>
      <li v-for="menuItem in menuItems">
        <a v-if="menuItem.overlay"
          class="button" :class="calculateColor($index)"
          @click.stop="openOverlay(menuItem.overlay)">
          {{$root.validMarket ? menuItem.newTitle || menuItem.title : menuItem.title}}
        </a>
        <a
          v-if="menuItem.link"
          class="button" :class="calculateColor($index)"
          target="{{ menuItem.newTab ? '_blank' : '_self'}}"
          @click="goTo(menuItem)">
          {{$root.validMarket ?  menuItem.newTitle || menuItem.title : menuItem.title}}
        </a>
      </li>
      <li v-if="!$root.validMarket" >
        <a @click="closeOverlay" class="close button" :class="calculateColor(menuItems.length)">Close</a>
      </li>
    </ul>
  </div>
</template>

<script type="text/javascript">
  import Cookie from 'js-cookie';
  import defaultMenu from '../../assets/themes/default/menu.json';

  export default {
    props: ['overlay', 'openOverlay', 'closeOverlay'],
    data() {
      const subGUID = this.$route.params && this.$route.params.subscriberGUID
        ? this.$route.params.subscriberGUID
        : Cookie.get('subscriberGUID') || false;

      const menuItems = this.$appConfig('build').env.menuContent || defaultMenu;

      return {
        menuItems,
        subscriberGUID: subGUID
      };
    },
    methods: {
      goTo(menuItem) {
        this.closeOverlay();
        const url = `${menuItem.link}${menuItem.appendSubscriberGUID && this.subscriberGUID ? this.subscriberGUID : ''}`;
        this.$router.go(url);
      },
      calculateColor(index) {
        if (!this.$root.validMarket) {
          return `color${index % 3 + 1}`;
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import '../../assets/themes/custom.scss';

  .new-menu {
    background: $menu-new-background-color;
    top: 55px;
    ul li {
      border-bottom: 1px solid $menu-new-item-divider-color;
      a.button {
        margin: 0;
        padding: 10px 0;
        font-size: 2rem;
        text-align: left;
        background-color: transparent;
        color: $menu-new-text-color;
        @media (min-width: 500px) {
          font-size: 2rem;
        }
      }
    }
  }
</style>
