.socialbar {
  background: black;
  z-index: 1003;
  position: fixed;
  bottom: 0px;
  width: 100%;
  .wrapper {
    width: 100%;
    height: 100%;
    .icons {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .icon {
        a {
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
