<template>
  <div class="socialbar">
    <div class="wrapper">
      <div class="icons">
        <div v-if="$root.$settings && $root.$settings.socialAddress" class="icon address">
          <a href="https://maps.google.com/?q={{ $root.$settings.socialAddress}}" target="_blank"></a>
        </div>
        <div v-if="$root.$settings && $root.$settings.socialPhone" class="icon phone">
          <a href="tel:{{ $root.$settings.socialPhone}}" target="_blank"></a>
        </div>
        <div v-if="$root.$settings && $root.$settings.socialEmail" class="icon email">
          <a href="mailto:{{ $root.$settings.socialEmail}}" target="_blank"></a>
        </div>
        <div v-if="$root.$settings && $root.$settings.socialOther" class="icon other">
          <a href="{{ $root.$settings.socialOther }}" target="_blank"></a>
        </div>
        <div v-if="$root.$settings && $root.$settings.socialLinkedIn" class="icon linkedin">
          <a href="{{ $root.$settings.socialLinkedIn}}" target="_blank"></a>
        </div>
        <div v-if="$root.$settings && $root.$settings.socialInstagram" class="icon instagram">
          <a href="{{ $root.$settings.socialInstagram}}" target="_blank"></a>
        </div>
        <div v-if="$root.$settings && $root.$settings.socialFacebook" class="icon facebook">
          <a href="{{ $root.$settings.socialFacebook }}" target="_blank"> </a>
        </div>
        <div v-if="$root.$settings && $root.$settings.socialTwitter"  class="icon twitter">
          <a href="{{ $root.$settings.socialTwitter }}" target="_blank"> </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  methods: {
  },
  ready() {

  }
}
</script>
<style lang="scss" src="./socialbar.scss"></style>
