<template>
  <section id="version-bar" class="{{ client.environment }}">
    <div class="subscriber">
      <div class="sub-col">
        <div class="tooltip" :class="{ hasSubscriber: this.subscriber.id !== 0 }">
          <a class="subscriber-button" :class="{ active: subscriberOpen }" @click="toggleSubscriber">S</a>
          <span class="tooltip-text" :class="{ active: subscriberOpen }">
            <table>
              <tr>
                <td class="switch-subscriber" colspan="2" style="text-align: center">
                  <input type="text" name="subscriberSwitchVal" v-model="subscriberSwitchVal" placeholder="Number / ID / GUID"/>
                  <button class="switch-subscriber" @click="switchSubscriber">SWITCH</button>
                </td>
              </tr>
              <tr v-show="subscriber.id === 0">
                <td colspan="2">No subscriber assigned</td>
              </tr>
              <tr v-show="subscriber.number">
                <td class="label">Number</td>
                <td>{{ subscriber.number }}</td>
              </tr>
              <tr v-show="subscriber.lastName || subscriber.firstName">
                <td class="label">Name</td>
                <td>{{ getSubscriberName() }}</td>
              </tr>
              <tr v-show="subscriber.email">
                <td class="label">Email</td>
                <td>{{ subscriber.email }}</td>
              </tr>
              <tr v-show="subscriber.subscriberID">
                <td class="label">ID</td>
                <td>{{ subscriber.subscriberID }}</td>
              </tr>
              <tr v-show="subscriber.subscriberGUID">
                <td class="label">GUID</td>
                <td>{{ subscriber.subscriberGUID }}</td>
              </tr>
              <tr v-show="subscriber.created">
                <td class="label">Created</td>
                <td>{{ new Date(subscriber.created).toLocaleDateString() }}</td>
              </tr>
            </table>
          </span>
        </div>
      </div>
    </div>
    <div class="col client">
      <div class="sub-col">
        <span class="title">client</span>
      </div>
      <div class="sub-col">
        <div>
          <span class="value url" title="{{client.url}}">{{client.url}}</span>
        </div>
        <div>
          <span class="value environment {{client.environment}}">{{client.environment}}</span>
          <span class="value version">v{{client.version}}</span>
        </div>
      </div>
    </div>
    <div class="col server">
      <div class="sub-col">
        <span class="title">server</span>
      </div>
      <div class="sub-col">
        <div>
          <span class="value url" title="{{client.baseURL}}">{{client.baseURL}}</span>
          <div>
            <span
              class="value environment {{server.appEnvironment}}"
              title="server is on '{{server.appBranch}}' branch">
              {{server.appEnvironment}}
            </span>
            <span class="value version"
              title="'server is on '{{server.appBranch}}' branch">
              v{{server.appVersion}}
            </span>
            <span
              class="value environment {{server.appEnvironment}}"
              title="joi-lib is on '{{server.libBranch}}' branch">
              joi-lib
            </span>
            <span class="value version"
              title="joi-lib is on '{{server.libBranch}}' branch">
              v{{server.libVersion}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col database">
      <div class="sub-col">
        <span class="title">database</span>
      </div>
      <div class="sub-col">
        <div>
          <span class="label">Redis</span>
          <span class="value" title="{{server.redis_url}}:{{server.redis_port}}">{{ server.redis_url}}:{{ server.redis_port }}</span>
        </div>
        <div>
          <span class="label">MSSQL</span>
          <span class="value" title="{{server.mssql_url}}:{{server.mssql_port}}">[{{server.mssql_database}}] {{server.mssql_url}}:{{ server.mssql_port }}</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./version.js"> </script>
<style lang="scss" src="./version.scss"></style>
