#version-bar {
  @media (max-width: 500px) {
    display: none;
  }
  &.production {
    display: none;
  }
  background-color: black;
  height: 50px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1010;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  .col {
    display: inline-block;
    width: calc(33% - 20px);
    overflow: hidden;
    height: 50px;
    white-space: nowrap;
  }
  .sub-col {
    height: 50px;
    display: table-cell;
    vertical-align:middle;
  }
  .title {
    font-variant:small-caps;
    letter-spacing:1px;
    margin-right: 15px;
    padding-right: 5px;
    border-right: groove 1px #666;
  }
  @media (max-width: 700px) {
    .title {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .value.url {
      display: none;
    }
    .database .label {
      display: none;
    }
  }
  .label {
    text-transform: lowercase;
    display: inline-block;
    text-align: right;
    font-size: 0.8em;
    color: #aaa;
    width: 45px;
  }

  .value{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: 5px;
    text-align: left;
    font-size: 0.8em;
    color: #ddf;
    vertical-align: middle;
  }
  .value.environment {
    border-radius: 5px;
    padding: 3px 5px;
    background-color: blue;
    &.unavailable {
      background-color: #888 !important;
    }
    &.local {
      background-color: blue;
    }
    &.development {
      background-color: blue;
    }
    &.stage {
      background-color: green;
    }
    &.production {
      background-color: red;
    }
  }

  &.development {
    .hasSubscriber .tooltip-text {
      background-color: blue;
    }
  }
  &.local {
    .hasSubscriber .tooltip-text {
      background-color: blue;
    }
  }
  &.stage {
    .hasSubscriber .tooltip-text {
      background-color: green;
    }
  }
  &.production {
    .hasSubscriber .tooltip-text {
      background-color: red;
    }
  }

  .value.environment,
  .value.version {
    cursor: pointer;
  }

  .subscriber {
    display: inline-block;
    width: 40px;
    height: 50px;
    .tooltip {
      &:hover .tooltip-text {
        visibility: hidden;
      }
      .tooltip-text {
        &.active {
          visibility: visible;
        }
      }
      &.hasSubscriber {
        .subscriber-button {
          background-color: green;
        }
      }
      .subscriber-button {
        display: block;
        background-color: #888;
        color: white;
        padding: 4px 8px;
        border-radius: 16px;
        font-weight: bold;
        border: solid 2px #888;
        &.active {
          border: solid 2px white;
        }
      }
    }
    table {
      padding: 0px 5px;
      td {
        cursor: text;
        font-size: 0.8em;
        white-space: nowrap;
        &:first-child {
          padding-right: 10px;
        }
        &.switch-subscriber {
          button {
            display: inline-block;
            color: blue;
            padding: 2px 5px;
            margin-bottom: 3px;
            font-weight: bold;
            background-color: white;
            border-radius: 5px;
          }
          input {
            font-size: 1.0em;
            background-color: white;
            display: inline-block;
            width: 200px;
            text-align: center;
            color: black;
          }
        }
      }
    }
  }


  .tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    &:hover .tooltip-text {
      visibility: visible;
    }
    .tooltip-text {
      background-color: gray;
      visibility: hidden;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      font-size: 0.8em;
      position: absolute;
      z-index: 1;
      bottom: calc(100% + 20px);
      left: 50%;
      .label {
        color: #bbb;
      }
    }
  }
}
