@import '../../assets/themes/custom.scss';

.saved-offer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid #333;
  position: relative;
  @media (max-width: 500px) {
    padding: 10px;
  }

  .active-star {
    width: 25px;
    float: right;
    margin-right: 10px;
    background-image: $active-star-image;
    background-size: contain;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .info {
    width: calc(100% - 75px);
    img {
      float: left;
      margin: 0 7px 0 0;
      max-width: 50%;
      height: 100;
      vertical-align: top;
    }
    .expiration {
      margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: white;
    }
    .expiringsoon {
      margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: red;
    }
   .expired{
      margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: red;
    }
    .datedisplay{
     margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: white;
    }
  }
  .actions {
    width: 75px;
    padding: 0;
    .menu-button {
      img {
        vertical-align: middle;
      }
    }
    @media (max-width: 500px) {
      width: 100%;
      margin-top: 15px;
    }
    .button {
      float: right;
      font-size: 1.5rem;
      width: 100px;
      padding: 0.8rem 1.3rem;
      background-color: #f83b3b;
    }
    @media (max-width: 500px) {
      margin-top: 15px;
      width: 75px;
      .button {
        padding: 0.5rem 0.8rem;
        width: 65px;
      }
    }
  }
}

//design 2

.offer-container {
    height: auto;
    background-color: $body-background;
    color: $base-text-color;
    padding: 20px 6px 0 6px;
    @media(min-width:500px) {
      padding: 20px 10px 0 10px;
    }
    h1 {
      text-align: left;
      margin: 0 5px 15px;
      color: $title-text-color;
    }
    select {
      background: transparent;
      border: none;
      width: 140px;
      text-transform: uppercase;
      color: $browse-offers-category-sort-text-color;
      padding: 0;
      margin-bottom: 5px;
      outline: none;
      @media (min-width: 500px){
        font-size: 15px;
        width: 160px;
      }
      }
}
.saved-offer-2 {
  border: 1px solid rgba(0,0,0,0.10);
  background-color: $offer-tile-background;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  margin-bottom: 5px;

  .info {
    .expiration2 {
      color: $offer-expiration-date-color;
    }
    .date-display2 {
      color: $browse-offers-date-display-color;
    }
  }
  .arrow:after {
    position: absolute;
    content: "\276F";
    right: 5px;
    top: 45%;
    font-size: 16px;
    color: $browse-offers-date-display-color;
  }
  .actions {
    margin: 0;
  }
}

