<template>
  <joi-header></joi-header>
  <div class="overlay-saved" :class="{ 'offer-container': $root.validMarket }">
    <!-- <a @click="closeOverlay" class="menu&#45;button" style="position:absolute;top:0;left:0;color:#fff">Back</a> -->

    <div v-if="noSavedOffers === true"><h1>No Saved {{offerTypeDescPcase}}s</h1></div>
    <div v-else><h1>{{ !$root.validMarket ?  'Saved' : 'Favorite' }} {{offerTypeDescPcase}}s</h1></div>
    <div v-if="noSavedOffers === false">
      <!-- <select v&#45;model="city" v&#45;if="allMarkets.length > 1"> -->
      <!--   <option value="all" selected>Choose Your Market</option> -->
      <!--   <option v&#45;for="market in allMarkets" :value="market.marketID">{{ market.city }}</option> -->
      <!-- </select> -->
      <select v-model="offerSort" @change="changeOfferSortOrder()">
        <option value="" selected="selected" disabled hidden >Sort by</option>
        <option value="none">None</option>
        <option value="expired">Expiration Date</option>
        <option value="name">Business</option>
      </select>

      <!-- <select v&#45;model="businessFilter" @change="changeOfferFilter()"> -->
      <!--   <option value="">All Categories</option> -->
      <!--   <option v&#45;for="category in businessCategories" :value="category.id">{{category.text}}</option> -->
      <!-- </select> -->
    </div>

    <div v-for="offer in offersToRender">
      <div v-if="city === 'all' || city === offer.marketID" class="saved-offer"
           :class="{ 'saved-offer-2': $root.validMarket }">
        <div class="info">
          <a @click.stop="goTo(offer)" class="no-format">
            <img :src="offer.image" />
            <div class="name">{{offer.businessName}}</div>
            <div class="location">{{ offer.state ? offer.city + ", " + offer.state : offer.city}}</div>
            <span class="expired" v-if="getExpirationStatus(offer.expirationDate)==='Expired' " >Expired!</span>
            <template v-if="offer.isExpirationVisible">
              <span :class="{ expiration2: $root.validMarket }"
                    class="expiration" v-if="getExpirationStatus(offer.expirationDate)==='Expires' " >Expires</span>
               <span class="expiringsoon" v-if="getExpirationStatus(offer.expirationDate)==='Expiring Soon' " >Expiring Soon!</span>
              <br/>
              <span class="datedisplay"
                    :class="{ 'date-display2': $root.validMarket }"
              >{{ offer.expirationDate | moment "MMMM DD, YYYY" }}</span>
            </template>
            <!-- design2 -->
            <span v-if="$root.validMarket" class="arrow"></span>

          </a>
        </div>
        <div class="actions">
          <a @click.stop="confirmRemoveSavedOffer($index, offer.offerGUID, offer.campaignID)" :class="calculateClass">
            <template v-if="$root.validMarket">
              <canvas class="active-star"></canvas>
            </template>
            <template v-else>DELETE</template>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss"></style>
