@import "../default/default";

$body-background: #ebebeb;
$body-color: #fff;

$body-font-family: Lato, sans-serif;

$socialbar-background: #ebebeb;
$socialbar-display: none;

$landing-page-tutorial-text-color: #000;
$landing-page-social-icon-size: 50px;
$location-tile-background-color: #fff;

$landing-profile-image: url('../../assets/images/main-page-images/profile_icon.png');
$landing-browse-image: url('../../assets/images/main-page-images/browse_offers.png');
$landing-favorites-image: url('../../assets/images/main-page-images/favorites.png');

$landing-social-facebook-image: url('../../assets/images/social/fb_icon-new.png');
$landing-social-twitter-image: url('../../assets/images/social/twitter-new.png');
$landing-taponit-image: url('../../assets/images/icon.png');

$offer-share-text-image: url('../../assets/images/social/text-new.png');

$location-image: url('../../assets/images/locations_icon.png');
$location-direction-img: url('../../assets/images/direction.png');

$active-star-image: url('../../assets/images/fav_active_icon.png');
$inactive-star-image: url('../../assets/images/fav_inactive_icon.png');

$h2-color: #ffac41;

$input-background: #6b6c6e;
$input-color: #fff;

$button-color: #fff;
$button-background: #1692ce;
$button-disabled-background: #222;

$header-background: #040707;
$overlay-background: rgba(4, 6, 6, 0.95);
$overlay-saved-background:(4, 6, 6, 1);

$logo-background-image: url("assets/themes/taponit/images/logo-02.png");
$coupon-image-background: #202020;
$logo-width: 100px;
$logo-float: left;

$menu-background: rgba(0, 0, 0, 0.9);
$menu-button-background: #f89a3b;
$menu-button-color: #fff;
$menu-buttons-color1-background: #f89a3b;
$menu-buttons-color2-background: #1692ce;
$menu-buttons-color3-background: #52b947;

$market-save-button-background: #52b947;
$market-save-button-color: #fff;
$market-button-background: #1692ce;
$market-button-color: #fff;
$market-button-unselected-background: #888;
$market-button-unselected-color: #fff;

$menu-new-background-color: rgb(4, 7, 7);
$menu-new-text-color: #fff;
$menu-new-item-divider-color: #282828;

$offer-tile-background: #fff;
$base-text-color: #000;
$offer-expiration-date-color: #f89b3a;

$title-text-color: #000;
$divider-color: 2px solid #dadada;
$divider-location: 1px solid #dadada;

$profile-information-text-color: #ffac41;
$profile-checkbox-text-color: #777777;

$contest-link-text-color: #f89430;

$browse-offers-category-button-active-color: #53b946;
$browse-offers-category-button-active-border: 1px solid #53b946;
$browse-offers-category-sort-text-color: #6a6a6a;
$browse-offers-category-sort-background-color: none;
$browse-offers-expiration-soon-date-color: #f68426;
$browse-offers-expiration-date-color: #000;
$browse-offers-date-display-color: #6a6a6a;

$single-offer-expiration-date-text-color: #ff0000;

$location-background-color: #fff;
$location-link-text-color: #179ad9;

$market-description-text-color: #888;
$market-button-text-color: #fff;
$market-button-border-color: 1px solid #fff;
$market-button-background-color: #000;
$market-tile-background-color: #beddbb;
$market-tile-unselected-background-color: #d8d8d8;

$offer-share-overlay-background-color: rgba(0, 0, 0, 0.6);
$offer-share-background-color: #fff;
$offer-share-text-color: #000;
$offer-share-link-text-color: #000;

$button-share-background-color: #f79a3a;
$button-share-text-color: #fff;
$button-redeem-background-color: #52b947;
$button-redeem-text-color: #fff;
$button-link-background-color: #52b947;
$button-link-text-color: #fff;
$button-contest-background-color: #a9a9a9;
$button-contest-text-color: #fff;
$button-contest-submit-background-color: #f79a3b;
$button-contest-submit-text-color: #fff;
$button-share-submit-background-color: #1692ce;
$button-share-submit-text-color: #fff;
$profile-save-button-color: #52b947;

$tutorial-page-active-dot-color: #000;
$tutorial-page-dot-color: #757575;
$tutorial-page-carousel-button-color: #000;
$tutorial-page-image-0: url("../../assets/images/tutorial carousel/TAPONIT_ICONS-02.png");
$tutorial-page-image-1: url("../../assets/images/tutorial carousel/TAPONIT_ICONS-01.png");
$tutorial-page-image-2: url("../../assets/images/tutorial carousel/TAPONIT_ICONS-03.png");
$tutorial-page-image-3: url("../../assets/images/tutorial carousel/TAPONIT_ICONS.png");

$view-offer-button-background: #52b947;
$save-offer-button-background: #1692ce;
$offer-list-view-button-background: #1692ce;
$offer-list-save-button-background: #52b947;

$offer-button-1-background: #f79a3a;
$offer-button-2-background: #52b947;
$offer-button-3-background: #3092ce;
$redeem-button-disabled-background: null;
$redeem-button-disabled-color: null;
$redeem-button-disabled-border: null;
$save-button-color: null;
$saved-button-background: null;
$saved-button-color: null;
$saved-button-border: null;

$redeem-button-background: null;
$save-button-background: null;
$share-button-background: null;
$share-button-icon-opacity: 1.0;
$share-button-icon-filter: invert(100%);
$play-button-icon-filter: invert(100%);

$share-background: #4fb848;
$share-color: #fff;

$stop-redeem-background: #f89b3b;
