<template>
  <div class="card single-offer">
    <joi-header></joi-header>
    <barcode
      v-if="overlay.coupons && offer.hasCoupon && offer.couponData"
      class="overlay overlay-redeem"
      :class="{ 'overlay-redeem2': newDesign }"
      :visible-modal.sync="overlay.coupons"
      :value="offer.couponData.codeValue"
      :type="offer.couponData.couponType"
      :image-url="offer.couponData.imageURL"
      :offer="offer"
    ></barcode>
    <div v-if="overlay.redeem" @click.stop="closeOverlay" class="overlay overlay-redeem" :class="{'overlay-redeem2' : newDesign}">
      <div v-if="offer.offerRedeemID == null &&
      (offer.hasCoupon && offer.couponData.stillInStock || !offer.hasCoupon)"
           @click.stop class="stop">
        <img v-if="!newDesign" src="../../assets/images/icon-stop.png" alt="" height="100">
        <img v-if="newDesign" src="../../assets/images/location_icon.png"/>
        <div v-if="!newDesign">
          <h1>Are you sure you want to redeem {{offer.businessName}}?</h1>
          <h1>Are you at the business location?</h1>
        </div>
        <div v-if="newDesign">
          <h1>Are you sure? Make sure you are at the business location and ready to make your purchase before you redeem! This offer can only be used once!</h1>
        </div>
        <template v-if="!$root.validMarket">
          <p v-if="$root.$config('siteName')!== 'Where Deals'">You should only redeem an {{offerTypeDescLcase}} when you are at the business making the purchase. This {{offerTypeDescLcase}} can only be redeemed 1 time.</p>
          <p v-if="$root.$config('siteName') === 'Where Deals'">You should only redeem a {{offerTypeDescLcase}} when you are at the business making the purchase. This {{offerTypeDescLcase}} can only be redeemed 1 time.</p>
        </template>
        <p v-if="errorMessage !== ''" class="large">{{errorMessage}}</p>

        <p v-if="!newDesign">Are you sure you want to redeem now?</p>
        <a @click.stop="redeemOffer" class="button button2 redeem-button">Redeem Now</a>
        <a @click.stop="closeOverlay" class="button cancel">Cancel</a>
      </div>

      <div v-else class="stop">
        <h1 v-if="offer.offerRedeemID !== null">
          You've successfully redeemed this {{offerTypeDescLcase}}!
        </h1>
        <h1 v-if="!offer.couponData.stillInStock">
          This offer is currently out of stock.
          <br>
          Please, try again later
        </h1>
      </div>
    </div>

    <div v-if="overlay.explanation" @click.stop="closeOverlay" class="overlay overlay-explanation">
      <div v-if="overlay.facebook" class="explanation">
        <!-- <h1><img class="logo" src="../../assets/images/logo&#45;02.png" alt="TapOnIt"></h1> -->
        <h1 class="large">Share This {{offerTypeDescPcase}}</h1>
        <p>When you share {{ $root.$config('siteName') }} with someone new and they join through your share you will get a text with a Bonus {{offerTypeDescPcase}}!</p>
        <p>Tap the share button to post this offer to your friends on Facebook!</p>
        <a @click="facebook" class="button share-submit">Share on Facebook</a>
        <a @click="closeOverlay" class="cancel">Cancel</a>
      </div>

      <div v-if="overlay.twitter" class="explanation">
        <!-- <h1><img class="logo" src="../../assets/images/logo&#45;02.png" alt="TapOnIt"></h1> -->
        <h1 class="large">Share This Offer</h1>
        <p>When you share {{ $root.$config('siteName') }} with someone new and they join through your share you will get a text with a Bonus {{offerTypeDescPcase}}!</p>
        <p>Tap the share button to tweet this offer.</p>
        <a @click="twitter" class="button share-submit">Share on Twitter</a>
        <a @click="closeOverlay" class="cancel">Cancel</a>
      </div>
    </div>

    <div v-if="overlay.share" @click.stop="closeOverlay" class="overlay overlay-share" :class="{'overlay-share2' : newDesign}">
      <div :class="{'white-container' : newDesign}">
        <div v-if="newDesign">
          <h1>{{shareButtonData.title}}</h1>
          <h2>{{shareButtonData.description}}</h2>
          <a class="menu-button"><span></span></a>
        </div>
        <a v-if="!newDesign" class="menu-button" style="position:absolute;top:0;right:0;color:#fff">Close</a>
        <div class="offer-images active">
          <div class="offer-image-box">
            <img class="offer-image" :src="offer.shareImage" />
            <div :class="{ locked: shareButtonData.isDefaultButtonLabel }">
              <img width="150" src="../../assets/images/locked.png"/>
            </div>
          </div>
        </div>
        <div @click.stop v-if="newDesign" class="share">
          <a @click="explanation('facebook')">
            <canvas class="facebook-icon"></canvas>
            <span>Facebook</span></a>
          <a @click="explanation('twitter')">
            <canvas class="twitter-icon"></canvas>
            <span>Twitter</span></a>
          <a @click="sms" :href="smsHref">
            <canvas class="text-icon"></canvas>
            <span>Text</span>
          </a>
        </div>
        <div @click.stop class="share" v-if="!newDesign">
          <a @click="explanation('facebook')"><span>Facebook</span><img src="../../assets/images/icon-facebook.png" alt="Facebook" height="50" /></a>
          <a @click="explanation('twitter')"><span>Twitter</span><img src="../../assets/images/icon-twitter.png" alt="Twitter" height="50" /></a>
          <a @click="sms" href="sms:?&body=Check out this deal from {{ this.$root.$config('siteName') }} {{this.safeURL}}">
            <span>Text</span><img  src="../../assets/images/icon-text.png" alt="Text" height="50" /></a>
        </div>
      </div>
    </div>

    <div v-if="overlay.popupText" @click.stop="closeOverlay" class="overlay overlay-popup-text">
      <a class="menu-button" @click.stop="closeOverlay" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="text-wrapper">
        {{ popupTextContent }}
      </div>
    </div>

    <div v-if="overlay.popupImage" @click.stop="closeOverlay" class="overlay overlay-popup-image">
      <a class="menu-button" @click.stop="closeOverlay" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="image-wrapper">
        <div class="caption">{{ popupImageCaption }}</div>
        <img :src="poupImageURL" />
      </div>
    </div>


    <div v-if="overlay.video" @click.stop="closeOverlay" class="overlay overlay-video">
      <a class="menu-button" style="position:absolute;top:0;right:0;color:#fff">Close</a>
      <div @click.stop class="video-wrapper">
        <iframe :src="'https://www.youtube.com/embed/' + currentVideoID"></iframe>
      </div>
    </div>

    <div v-if="overlay.firstSavedOfferMessage" @click.stop="closeOverlay" class="overlay high-z-index">
      <div class="stop">
        <h1>This {{offerTypeDescLcase}} has been saved for later.<br/>Find all of your saved {{offerTypeDescLcase}}s in the Menu!</h1>
      </div>
    </div>

    <location-overlay
      v-if="newDesign"
      v-show="overlay.location"
      :locations="offer.locations"
      :business-name="offer.businessName"
      class="overlay" style="z-index: 1004"></location-overlay>

    <div v-if="!noCampaign" class="deal" :class="{ 'deal2' : newDesign }">
      <template v-if="ready">
        <template v-if="$root.validMarket && tutorial.tutorialNeeded">
          <div class="over-tutorial overlay">
            <div class="aspect-radio">
              <div class="tutorial-text explanation-text">
                Save the offer by tapping the star icon and then find all of your starred offers on the "Favorites" section of the main page!
              </div>
              <div class="img-cont">
                <img src="../../assets/images/main-page-images/arrow_reward.png"/>
              </div>
            </div>
            <div class="disabled star location-container reward-img-container">
              <img style=" width: 30px;" src="../../assets/images/fav_active_icon.png"/>
            </div>
            <div class="button-container">
              <button @click="nextPage()" class="tutorial-text">
                <template v-if="[0, tutorial.totalTutorialPages - 1].includes(tutorial.tutorialPage)">
                  Got it!
                </template>
                <template v-else>
                  Next!
                </template>
              </button>
            </div>
          </div>
        </template>
        <div class="offer-images-wrapper offer-images-wrapper2">
          <div class="offer-images active" id="offer-images">
            <div class="offer-image">
              <div v-if="offer.redeemed" class="redeemed-container">
                <h1 class="redeemed">
                  <img src="../../assets/images/check-white.png"/>
                  REDEEMED
                </h1>
              </div>
              <div v-if="offer.redeemed !== true && new Date(expirationDate) < Date.now()" class="redeemed-container">
                <h1 class="expired">
                  EXPIRED
                </h1>
              </div>
              <img :class="{ 'offer-redeemed': offer.redeemed || new Date(expirationDate) < Date.now() }"
                   :src="offer.image"/>
            </div>
          </div>
        </div>

        <div v-if="newDesign" class="location-container">
          <a
            v-if="offer.locations.length > 0"
            @click="openLocation()"
            class="location right-margin-10">
            <p>Locations</p>
            <canvas class="location-img"></canvas>
          </a>
          <a
            class="star star-class inactive-star"
            v-if="!offerSaved"
            @click="saveOffer"
            title="{{ isPreview ? 'Disabled during preview' : '' }}">
          </a>
          <a v-if="offerSaved"
             @click.stop="confirmRemoveSavedOffer"
             class="disabled star star-class active-star">
          </a>
        </div>
        <div v-if="newDesign" class="offer-container2">
          <h1>{{offer.businessName}}</h1>
          <p>{{offer.descriptionText}}</p>
          <p v-if="!offer.isBonusOffer">{{offer.shareText}}</p>
          <h1 class="expires"
              v-if="offer.isExpirationVisible">
            {{getDateText}}
          </h1>
          <p class="grey">{{offer.disclaimerText}}</p>
        </div>

        <div :class="calculateClass" class="actions" >
          <p v-if="offer.redeemed">You redeemed this {{offerTypeDescLcase}} {{ offer.redeemed | moment "MMMM Do YYYY [at] h:mm A" }}.</p>
          <template v-if="new Date(expirationDate) > Date.now()">
            <div @click="logButtonClick({ name: button.name, offerFieldID: button.offerFieldID, fields: button.fields })" v-for="(i, button) in currentButtons">
              <!-- <a v&#45;if="button.name === 'button_redeem'" class="disabled redeem&#45;button button vhcenter"> -->
              <!--   <div>Redeemed!</div> -->
              <!-- </a> -->
              <a
                v-if="button.name === 'button_call'"
                class="button vhcenter n-{{ i }}"
                :href="'tel:' + getFieldByName(button.fields, 'button_call_number')">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_link'"
                class="button button-link vhcenter n-{{ i }}"
                target="_blank"
                href="{{ getFieldByName(button.fields) }}">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_bonus_link'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                href="{{ getFieldByName(button.fields) }}">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_popup_text'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                @click="openPopupText(button.fields)">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_popup_image'"
                class="button vhcenter n-{{ i }}"
                target="_blank"
                @click="openPopupImage(button.fields)">
                <div>{{ button.buttonLabel }}</div>
              </a>

              <a
                v-if="button.name === 'button_redeem'"
                @click="openRedeem"
                class="redeem-button button vhcenter n-{{ i }}"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div v-if="!offer.redeemed">{{ button.buttonLabel }}</div>
                <div v-if="offer.redeemed"><span class="redeemed"></span>Redeemed!</div>
              </a>
              <a
                v-if="button.name === 'button_bonus_redeem'"
                @click="openRedeem"
                class="redeem-button button vhcenter n-{{ i }}"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>{{ button.buttonLabel }}</div>
              </a>
              <a
                v-if="button.name === 'button_video'"
                class="button play-button n-{{ i }}"
                @click="openVideo(button.fields)"
                target="_blank">
                <img src="../../assets/images/icon-play.png" alt="" width="23">
                <span>{{ button.buttonLabel }}</span>
              </a>
              <a
                v-if="button.name === 'button_share'"
                @click="openShare(button)"
                class="share-button button n-{{ i }}">
                <div>
                  <img v-if="!newDesign" src="../../assets/images/icon-share-2.png" alt="" width="23">
                  <template v-if="newDesign">
                    {{ button.buttonLabel }}
                  </template>
                  <template v-if="!newDesign">
                    Share<br v-if="currentButtons.length + 1  >= 3 && hasContest">Offer
                  </template>
                </div>
              </a>
            </div>

            <!-- This block of code should never get hit due to the date constraint.  Commenting out for now, consider
                 removing altogether
            <div v-if="currentButtons.length === 0 && new Date(this.offer.lastUpdated) < new Date('2018-03-08T00:00:00.000Z')">
              <a
                v-if="offer.redeemable && !offer.redeemed"
                @click="openRedeem"
                class="redeem-button button vhcenter"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>Redeem <br v-if="currentButtons.length >= 4">at Location</div>
              </a>
              <a
                v-if="offer.redeemed"
                class="disabled redeem-button button vhcenter">
                <div>Redeemed!</div>
              </a>
              <a
                v-if="offer.shareable"
                @click="openShare"
                class="share-button button"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <span v-if="currentButtons.length >= 4"><img src="../../assets/images/icon-share-2.png" alt="" width="23">Share <br v-if="currentButtons.length >= 4">Offer</span>
                <span v-else><img src="../../assets/images/icon-share-2.png" alt="" width="23">Share Offer</span>
              </a>
            </div>
            -->

            <!-- `newDesign is now always true.  Commenting out for now, consider removing altogether
            <div v-if="!newDesign">
              <a
                v-if="this.savedOfferIDs.indexOf(offer.offerID) === -1"
                @click="saveOffer"
                class="save-button button vhcenter {{ currentButtons.length > 0 ? 'n-' + currentButtons.length : ''  }}"
                title="{{ isPreview ? 'Disabled during preview' : '' }}">
                <div>Save <br v-if="currentButtons.length >= 4">for Later
                </div>
              </a>
              <a v-else class="disabled save-button button">Saved!</a>
            </div>
            -->

            <!-- <a v&#45;if="offer.sharable &#38;&#38; !offer.isBonusOffer" @click="openShare" class="share&#45;button button"> -->
            <!--   <img src="../../assets/images/icon&#45;share&#45;2.png" alt="" width="23">Share Offer -->
            <!-- </a> -->
            <!-- <a v&#45;if="offer.buttonLink" class="button" href="{{offer.buttonLink}}" target="_blank">{{ offer.buttonText }}</a> -->
            <!-- <a v&#45;if="offer.youtubeVideoID" class="button play&#45;button" @click="openVideo" target="_blank"> -->
            <!--   <img src="../../assets/images/icon&#45;play.png" alt="" width="23"> -->
            <!--   <span>Watch Video</span> -->
            <!-- </a> -->
            <!-- <a v&#45;if="offer.redeemed !== null" class="disabled redeem&#45;button button">Redeemed!</a> -->
            <!-- <a v&#45;if="(offer.redeemed === null) &#38;&#38; offer.redeemable" @click="openRedeem" class="redeem&#45;button button">Redeem at Location</a> -->
            <!-- <a v&#45;if="savedOfferIDs.indexOf(offer.offerID) !== &#45;1" class="disabled save&#45;button button">Saved!</a> -->
            <!-- <a v&#45;else @click="saveOffer" class="save&#45;button button">Save <br v&#45;if="hasContest &#38;&#38; offer.redeemable">for Later</a> -->

            <div @click="logButtonClick({
              name: 'contest',
              offerFieldID: null
            }, getContestUrl(find(this.contest, ['marketID', offer.marketID]).urlToken))">
              <a v-if="hasContest"
                class="contest-button button">
                <div v-if="find(this.contest, ['marketID', offer.marketID]).buttonText == ''">
                  Enter<br v-if="hasContest">Contest!
                </div>
                <div v-if="find(this.contest, ['marketID', offer.marketID]).buttonText != ''">
                  {{find(this.contest, ['marketID', offer.marketID]).buttonText}}
                </div>
              </a>
            </div>
          </template>
        </div>

        <div class="copyright">{{ $root.copyright() }}</div>
      </template>
    </div>

    <div v-else class="deal">
      <p>
      Sorry, that offer expired or does not exist.
      Please try clicking the latest link texted to you, if you arrived at this page in some other way.
      If the problem persists, please contact {{ $root.$config('siteName') }} at {{ phone }} or by email at <a href="mailto:{{ email }}">{{ email }}</a>.
      </p>

      <div class="copyright">{{ $root.copyright() }}</div>
    </div>
  </div>
</template>

<script src="./index.js"></script>

<style scoped lang="scss">
  @import '../../assets/themes/custom.scss';

  .star-class {
    width: 25px;
    background-size: contain;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .active-star {
    background-image: $active-star-image;
  }

  .inactive-star {
    background-image: $inactive-star-image;
  }

  .overlay-explanation {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;

    .explanation {

      .share-submit {
        background-color: $button-share-submit-background-color;
        color: $button-share-submit-text-color;
      }
    }
  }
  .over-tutorial {
    max-width: 720px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    color: white;
    z-index: 1010;
    margin-right: auto;
    margin-left: auto;
    .aspect-radio {
      position: relative;
      width: 100%;
      padding-bottom: 398px;
      @media (max-width: 520px) {
        padding-bottom: 78%;
      }
      .explanation-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .img-cont {
        display: flex;
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 88%;
        justify-content: flex-end;
        @media (max-width: 520px) {
          top: 95px;
        }
        @media (max-width: 360px) {
          top: 110px;
        }
      }
    }
    .reward-img-container {
      margin: 0 1%;
      padding-top: 0 !important;
      @media (max-width: 520px) {
        margin: 0 2%;
      }
    }
    .tutorial-text {
      margin: 20px;
      margin-bottom: 10px;
      font-size: 18px;
      text-align: center;

    }

    .button-container {
      display: flex;
      justify-content: center;

      button {
        border: none;
        background-color: #52b947;
        border-radius: 5px;
        width: 180px;
        white-space: nowrap;
        padding: 10px 5px;
        color: #fff;
        margin-top: 5px;
      }
    }
  }
  .high-z-index {
    z-index: 1008
  }
 .overlay .overlay-share {
    padding: 0;
  }
.signup-form {
  padding: 0 20px;
}
.button {
  &.cancel {
    background: transparent;
  }
}
.overlay-share2 {
  background-color: $offer-share-overlay-background-color;
  color: $offer-share-text-color;
  position: fixed;
  overflow: auto;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overscroll-behavior: contain;
  max-width: 720px;
  margin: auto;
  .white-container {
    background-color: $offer-share-background-color;
    border-radius: 5px;
    position: relative;
    top: 15%;
    padding: 10px 5px;
    h1, h2 {
      text-align: left;
      padding: 0 8px;
      color: $offer-share-text-color;
    }
    .offer-images {
      display: flex;
      justify-content: center;
      .offer-image-box {
        position: relative;
        .offer-image {
          position: relative;
          margin: 0;
        }
        .locked {
          position: absolute;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    .menu-button {
      background-color: transparent;
      color: #b1b1b1;
      position:absolute;
      top:5px;
      right:10px;
      padding: 0;
      margin: 0;
      span:before {
        content:'\2715';
        font-size: 33px;
      }
    }
    .share {
      background-color: transparent;
      a {
        color: $offer-share-link-text-color;
        border: none;
        background-image: none;
        height: auto;

        canvas {
          height: 50px;
          width: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        span {
          margin-top: 10px;
        }
      }

      .facebook-icon {
         background-image: $landing-social-facebook-image;
      }
      .twitter-icon {
        background-image: $landing-social-twitter-image;
      }
      .text-icon {
        background-image: $offer-share-text-image;
      }

    }
  }
}
  // THIS IS NEW DESIGN

  .deal2 {
    padding: 5px;
    color: $base-text-color;
    background-color: $body-background;

    a {
      cursor: pointer;
      text-decoration:none;
    }

    .offer-images-wrapper2 {
      margin: auto;

      .redeemed-container {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .redeemed {
          position: absolute;
          bottom: 5%;
          width: 63%;
          z-index: 10;
          color: #fff;
          font-size: 28px;
          font-weight: bold;
          background: transparent linear-gradient(90deg, #20C44B 0%, #049C1C 100%) 0% 0% no-repeat padding-box;
          border-radius: 35px;
          border: 2px solid #68FF48;
          padding: 14px 7px;
          max-width: 300px;

          img {
            margin-right: 7px;
            width: 27px;
          }
        }
        .expired {
          position: absolute;
          bottom: 5%;
          width: 62%;
          z-index: 10;
          color: #fff;
          font-size: 28px;
          font-weight: bold;
          background: transparent linear-gradient(90deg, #FA0E4E 0%, #D00022 100%) 0% 0% no-repeat padding-box;
          border-radius: 35px;
          border: 2px solid #FF4E49;
          padding: 14px 7px;
          max-width: 300px;
        }
      }
    }

    .location-container {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      padding-top: 8px;
    }
    .right-margin-10 {
      margin-right: 5px;
    }
    .location {
      display: flex;
      align-items: center;
      color: $base-text-color;
      p {
        padding: 0;
        margin: 0;
      }
      canvas {
        width: 26px;
        height: 22px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
      }

      .location-img {
        background-image: $location-image;
      }

    }

    .star span:before {
      content: '\2605';
      color: #d3d2d2;
      font-size: 35px;
    }
    .disabled  span:before {
      color: #ffc33d;
    }
    .offer-container2 {
      padding: 0 5px 5px 5px;
      h1, p {
        text-align: left;
      }
      h1 {
        font-size: 20px;
      }
      p {
        padding: 0;
        margin-top: 0;
        font-size: 18px;
        opacity: 0.8;
      }
      .expires {
        font-size: 16px;
        color: $single-offer-expiration-date-text-color;
        text-align: center;
      }
      .grey {
        font-size: 15px;
        opacity: 0.5;
        margin-top: 15px;
      }
    }

    .button2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0;
      align-items: center;
      a.button {
        border-radius: 8px;
        width: 280px;
        white-space: nowrap;
        .redeemed:before {
          width: 6px;
          border-bottom: 4px solid #fff;
          border-right: 4px solid #fff;
          position: absolute;
          left: -25px;
          height: 12px;
          content: "";
          transform: rotate(40deg);
          z-index: 1;
        }
      }
      a.redeem-button, a.button-link {
        background-color: $button-redeem-background-color !important;
        color: $button-redeem-text-color;
      }
      a.share-button {
        background-color: $button-share-background-color !important;
        color: $button-share-text-color;
      }
      .contest-button {
        background-color: $button-contest-background-color;
        color: $button-contest-text-color !important;
      }
    }
  }

//design 2 redeem//
.overlay.overlay-redeem2 {
  padding: 0;
  z-index: 1006;
}
  .overlay-redeem2 {
    padding: 0;
    background: rgba(4, 6, 6, 0.6);
    position: fixed;
    overflow: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overscroll-behavior: contain;
    margin: auto;
    max-width: 720px;
    .stop {
      background-color: #fff;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 20px;
      transform: none;
      top: 20vh;
      margin: 0 10px;
      h1 {
        font-weight: normal;
        width: 100%;
        margin: 15px 0 10px;
      }
      img {
        width: 45px;
      }
      p {
        padding: 0;
      }
      .button {
        width: 250px;
      }
      .redeem-button {
        background-color: $button-redeem-background-color;
        color: $button-redeem-text-color;
        padding: 12px;
      }
    }
  }
</style>
