<template>
  <div class="card">
    <joi-header></joi-header>

    <div v-if="$root.validMarket" v-show="overlay"  class="overlay2-container">
      <div class="overlay2">
        <img src="../../assets/images/location_icon.png"/>
        <h1>{{ siteName }} would like to use your current location to help send you the best local offers!</h1>
        <button @click="triggerGeolocation">Sure!</button>
        <button @click="closeOverlay" class="button2">Maybe Later</button>
      </div>
    </div>

    <div v-if="!$root.validMarket" class="deal">
      <h1>Thank you for joining {{ siteName }}!</h1>
      <p>We do not have any offers in your area yet... but they are coming soon!</p>
      <p>To see where {{ siteName }} is currently active, go to the MENU to view all {{ siteName }} Markets.</p>
      <p>Stay tuned for great offers in your area!</p>
    </div>
    <div v-if="$root.validMarket" class="deal deal2">

      <div class="upperBox-container">
        <a class="upperBox profile-image"
           @click="goTo('/profile')" >
        </a>
        <!-- We should not use template here, because on old browsers is not supported -->
        <a class="upperBox more-offers-image"
           @click="goTo('/more-offers/' + subscriberGUID)">
        </a>
        <a class="upperBox favorites-image"
           @click="goTo('/saved')">
        </a>
      </div>
      <div class="bottomBox-container" v-show="offersReady">
        <template v-if="offersToRender.length > 0">
          <div v-for="offer of offersToRender" class="bottomBox">
            <a
              :style="{ cursor: offer.expired ? 'auto': 'pointer' }"
              @click="clicked(offer)">
              <div class="img-box">
                <img :src="offer.image"/>
  <!--            This will be used once we have correct image
    <div v-if="offer.expired" class="locked">
                  <img width="50%" src="../../assets/images/locked.png"/>
                </div> -->
              </div>
              <div class="textBox">
                <p class="margin-bottom-3">{{offer.shortDescriptionText}}</p>
                <p class="business-name">{{offer.businessName}}</p>
              </div>
              <div class="expires" v-if="offer.isExpirationVisible">
                <p :class="{'color-red': offer.expirationStatus === 0 }" v-if="offer.expirationStatus >= 0">
                  Expires: {{ offer.expirationDate | moment "MMM D" }}
                </p>
                <p class="color-red" v-if="offer.expirationStatus < 0">
                  Expired {{ offer.expirationDate | moment "MMM D" }}
                </p>
              </div>
            </a>
          </div>
        </template>
        <template v-else>
          <div class="noOfferContainer">
            <img src="../../assets/images/main-page-images/nooffer_icon.png" width="169"/>
            <p>We do not have any current offers in your area... <br> but they are coming soon! </p>
            <p>See where {{ siteName }} is currently active</p>
            <!-- We should not use template here, because on old browsers is not supported -->
            <a class="save button save-button"
               @click="goTo(`/sm/${subscriberGUID}`)">
              View All Markets
            </a>
            <p>Stay tuned for great offers in your area!</p>
            <p>If you feel that you have reached this page in error,
              please contact {{ siteName }} at {{ phone }} or by email at  <a href="mailto:{{ email }}">{{ email }}</a>.
            </p>
          </div>
        </template>
        </div>

      <div class="bottomBox-container" v-if="!offersReady">
        <div v-for="el in 8" class="bottomBox skeleton">
          <span class="animation"></span>
        </div>
      </div>

      <div v-if="$root.validMarket" class="bottom-container">
        <div class="tutorial-box">
          <a @click="goTo('/tutorial')">{{ siteName }} How-To</a>
        </div>
        <div class="social-box">
          <a target="_blank" href="{{socialMedia1}}" class="facebook-icon"></a>
          <a target="_blank" href="{{socialMedia2}}" class="twitter-icon"></a>
          <a target="_blank" href="{{ clientHome }}" class="taponit-icon"></a>
        </div>
        <div class="copyright">{{ $root.copyright() }}</div>
      </div>
    </div>

  </div>
</template>

<script src="./index.js"></script>

<style scoped lang="scss">
  @import "../../assets/themes/custom.scss";

  .overlay2-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    color: $base-text-color;
    background-color: rgba(0, 0, 0, 0.6);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    max-width: 720px;
    margin: auto;
    .overlay2 {
      position: relative;
      top:20vh;
      margin: 15px;
      padding: 20px 20px 15px;
      background-color: #fff;
      color: #000;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 50px;
      }
      h1 {
        color: #747474;
        margin: 22px 0;
      }
      button {
        width: 260px;
        border: none;
        border-radius: 3px;
        background-color: #54b846;
        margin-bottom: 10px;
        padding: 12px 0;
        font-size: 17px;
        font-weight: bold;
        color: #fff;
        outline: none;
      }
      .button2 {
        background-color: transparent;
        color: #777777;
        font-weight: normal;
        width: 110px;
      }
    }
  }

  .deal2 {
    scroll-behavior: smooth;
  }
  .upperBox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .upperBox {
      margin: 2% 1%;
      width: 32%;
      border-radius: 5px;
      height: fit-content;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      padding: 11% 0;
    }

    .profile-image {
      background-image: $landing-profile-image;
    }

    .more-offers-image {
      background-image: $landing-browse-image;
    }

    .favorites-image {
      background-image: $landing-favorites-image;
    }
  }
  .bottomBox-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .bottomBox {
      background-color: $offer-tile-background;
      width: 48%;
      margin: 1%;
      border-radius: 6px;
      box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.2);
      position: relative;
      padding-bottom:  35px;
      .img-box {
        position: relative;
        img {
          border-radius: 6px 6px 0 0;
        }
        .locked {
          position: absolute;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 6px 6px 0 0;
        }
      }
      .textBox {
        padding: 5px 10px 5px;

        p {
          text-align: left;
          color: $base-text-color;
          margin: 0;
        }
        .margin-bottom-3 {
          margin-bottom: 3px;
        }
        .business-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
        }
      }
      .expires {
        position: absolute;
        bottom: 0;
        width: 100%;
        p {
          color: $offer-expiration-date-color;
          text-align: center;
          padding: 0;
        }
        .color-red {
          color: red;
        }

      }
    }

    .skeleton {
      opacity: 0.6;
      background:
      linear-gradient(180deg, #cccccc, #cccccc),
      linear-gradient(180deg, #cccccc, #cccccc),
      linear-gradient(180deg, #e5e5e5, #e5e5e5),
      linear-gradient(180deg, #fff, #fff),
      linear-gradient(180deg, #cccccc, #cccccc);
      background-size:
      88% 15px,
      40% 15px,
      40% 15px,
      100% 80px,
      100% 100%;
      background-position:
      10px calc(100% - 50px),
      10px calc(100% - 30px),
      center calc(100% - 7px),
      center bottom,
      center top;
      background-repeat: no-repeat;
      width: 48%;
      padding-top: 42%;

      .animation {
        opacity: 0.2;
        background: linear-gradient(to right, #eff1f3 4%, #ffffff 25%, #eff1f3 36%);
        position: absolute;
        bottom: 0;
        top: 0;
        width: 100%;
        animation: loading 2s infinite;

        @keyframes loading {
          0% {
            background-position: -100px 0;
          }
          100% {
            background-position: 200px 0;
          }
        }
      }
    }

    .noOfferContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 10px 8px;
      color: $base-text-color;
      img {
        width: 169px;
        margin: 5px 0 25px;
      }
      p {
        font-size: 16px;
        margin-top: 0;
        line-height: 1.3;
      }
      .button {
        width: 270px;
        margin-right: 0;
        font-size: 18px;
      }
    }
  }

  p {
    padding: 0;
  }
  a {
    cursor: pointer;
  }

  .bottom-container {
    width: 100%;
    position: relative;
    bottom: 0;

    .tutorial-box {
      border-top: $divider-color;
      border-bottom: $divider-color;
      padding: 15px;

      a {
        color: $landing-page-tutorial-text-color;
        display: flex;
        align-items: center;
      }
      a:after {
        content: '\203A';
        font-size: 20px;
        position: absolute;
        right: 12px;
      }
    }
    .social-box {
      display: flex;
      justify-content: center;
      padding: 10px;

      a {
        margin: 10px;
        width: $landing-page-social-icon-size;
        height: $landing-page-social-icon-size;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .facebook-icon {
        background-image: $landing-social-facebook-image;
      }

      .twitter-icon {
        background-image: $landing-social-twitter-image;
      }

      .taponit-icon {
        background-image: $landing-taponit-image;
      }
    }
    .copyright {
      color: $base-text-color;
      padding-bottom: 10px;
    }
  }
</style>
