<template>
  <div class="card">
    <div class="header">
      <!-- <img class="logo" src="../../assets/images/logo&#45;02.png" alt="TapOnIt"> -->
    </div>

    <div v-if="overlay.redeem" @click.stop="closeOverlay" class="overlay overlay-redeem">
      <div v-if="offer.redeemed == null && offer.redeemable" @click.stop class="stop">
        <img src="../../assets/images/icon-stop.png" alt="" width="144">
        <h1>Are you at the business location?</h1>
        <p>You should only redeem an {{offerTypeDescLcase}} when you are at the business making the purchase. This {{offerTypeDescLcase}} can only be redeemed 1 time.</p>
        <p>Are you sure you want to redeem now?</p>
        <a @click.stop="redeemOffer" class="button">Redeem Now</a>
        <a @click.stop="closeOverlay">Cancel</a>
      </div>

      <div v-else class="stop">
        <h1>You've successfully redeemed this {{offerTypeDescLcase}}!</h1>
      </div>
    </div>

    <div v-if="!noOffer" class="deal">
      <div>
        <h1>Thanks for sharing an {{offerTypeDescLcase}}! Here's another as a thank you!</h1>
      </div>

      <div class="offer-images" id="offer-images">
        <div class="offer-image">
          <img :src="offer.shareImage">
        </div>
      </div>

      <div class="copyright">{{ $root.copyright() }}</div>
    </div>

    <div v-else class="deal">
      <h1>Sorry, that {{offerTypeDescLcase}} expired or does not exist.</h1>
    </div>
  </div>
</template>

<script src="./index.js"></script>
