<template>
  <div class="card more-offers" :class="{'more-offers-container': $root.validMarket }">
    <joi-header></joi-header>
    <div class="deal">
      <div v-if="$root.validMarket">
        <div class="search" >
          <span><img src="../../assets/images/search.png" /></span>
          <input v-model="searchParam" class="search-input" type="search" placeholder="Search for offers">
        </div>
        <div class="categories-container">
          <button :class="{ active: businessFilter === category.id }"
                  @click="changeOfferFilter(category.id)"
                  v-for="category in businessCategories" :value="category.id">{{category.text}}</button>
        </div>
      </div>

      <div class="options-container">
        <select class="market" v-model="city" v-if="allMarkets.length > 1">
          <option value="all">{{$root.validMarket ? 'All selected markets' : 'Choose Your Market'}}</option>
          <option v-for="market in allMarkets" :value="market.marketID">{{ market.state ? market.city + ", " + market.state : market.city }}</option>
        </select>
        <select class="sort"
                :class="{ 'exp-date': this.offerSort === 'expired'}"
                v-model="offerSort" @change="changeOfferSortOrder()">
          <option value="" selected="selected" disabled hidden >Sort by</option>
          <option value="none" class="none">None</option>
          <option value="expired" class="exp-date">Expiration Date</option>
          <option value="name" class="business">Business</option>
        </select>
        <select  v-if="!$root.validMarket" class="category" v-model="businessFilter" @change="changeOfferFilter()">
          <option value="">All Categories</option>
          <option v-for="category in businessCategories" :value="category.id">{{category.text}}</option>
        </select>
      </div>
      <div v-if="offersToRender.count>0" class="deal">
        <h1>No {{offerTypeDescLcase}}s to show. </h1>
      </div>
      <div v-for="offer in offersToRender">
        <template v-if="(new Date(offer.expirationDate) > Date.now()) && (city === 'all' || city === offer.marketID)">
          <button @click="goTo(offer)" v-if="$root.validMarket" class="offer offer2">
            <div class="info">
              <img :src="offer.image" />
              <div class="name">{{ offer.businessName }}</div>
              <div class="location">{{ offer.state ? offer.city + ", " + offer.state : offer.city}}</div>
              <span  v-if="offer.isExpirationVisible" :class="calculateExpiringClass(offer.expirationDate)">{{expirationText(offer.expirationDate)}}</span>
                <br/>
              <span v-if="offer.isExpirationVisible && ![0, 1].includes(getExpirationStatus(offer.expirationDate))"
                    class="datedisplay">{{ offer.expirationDate | moment "MMMM DD, YYYY" }}</span>
            </div>
            <div class="actions2">
                <span></span>
            </div>
          </button>
          <div v-else class="offer">
            <div class="info">
              <a @click="goTo(offer)" class="no-format details">
                <img :src="offer.image" />
                <div class="name">{{ offer.businessName }}</div>
                <div class="location">{{ offer.state ? offer.city + ", " + offer.state : offer.city}}</div>
                <span :class="calculateExpiringClass(offer.expirationDate)">{{expirationText(offer.expirationDate)}}</span>
                <br/>
                <span v-if="![0, 1].includes(getExpirationStatus(offer.expirationDate))"
                      class="datedisplay">{{ offer.expirationDate | moment "MMMM DD, YYYY" }}</span>
              </a>
            </div>
            <div v-if="!$root.validMarket" class="actions">
              <a @click="goTo(offer)" class="view-button button"></a>
              <a v-if="savedOfferIDs.indexOf(offer.offerID) !== -1" class="disabled save-button button saved"></a>
              <a v-else @click="saveOffer(offer)" class="save-button button"></a>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script src="./index.js"></script>

<style src="./index.scss" lang="scss"></style>
