@import '../../assets/themes/custom.scss';

select {
  -webkit-appearance: menulist;
}

.offer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid #333;
  position: relative;
  @media (max-width: 500px) {
    padding: 10px;
  }

  .info {
    width: calc(100% - 130px);
    img {
      float: left;
      margin: 0 20px 0 0;
      max-width: 50%;
      max-height: 75;
      vertical-align: top
    }
    .details {
      padding-top: 10px;
      .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    .expiration {
      margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: white;
    }
    .expiringsoon {
      margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: red;
    }
   .expired{
      margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: red;
    }
    .datedisplay{
      margin: 5px 0;
      font-size: 14px;
      opacity: .75;
      color: white;
    }
    }
    @media (max-width: 500px) {
      width: calc(100% - 75px);
      img {
        margin: 0 10px 0 0;
      }
    }
  }

  .actions {
    padding: 0px;
    width: 125px;
    .button {
      float: right;
      font-size: 1.5rem;
      width: 100px;
      padding: 0.8rem 1.3rem;
      &.view-button:before {
        content: 'View Offer';
      }
      &.save-button {
        &:before {
          content: 'Save Offer';
        }
        &.saved:before {
          content: 'Saved!';
        }
      }
    }
    @media (max-width: 500px) {
      width: 75px;
      right: 20px;
      .button {
        padding: 0.5rem 0.8rem;
        width: 65px;
        &.view-button:before {
          content: 'View';
        }
        &.save-button:before {
          content: 'Save';
        }
      }
    }
  }
}

.search-input {
  background: #d7d7d7 !important;
}

.search-input::placeholder {
  color: #767676;
}

.more-offers-container {
  background-color: $body-background;
  color: $base-text-color;
  .search {
    background: #d8d8d8;
    margin: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    span {
      display: flex;
      align-items: center;
      padding: 0 5px 0 15px;
    }
    input {
      background: transparent;
      border: none;
      width: 100%;
      outline: none;
      padding: 10px;
    }
  }
  .categories-container {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;

    button {
      padding: 8px 5px;
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid #444444;
      white-space: nowrap;
      margin: 3px;
      color: $base-text-color
    }
    button.active {
      background-color: $browse-offers-category-button-active-color;
      color: #fff;
      border: $browse-offers-category-button-active-border;
    }
  }

  .options-container {

    .sort {
      width: 150px;
    }
    .category {
      width: 160px;
    }
    .market {
      width: 190px;
    }
    select {
      color: $browse-offers-category-sort-text-color;
      background: $browse-offers-category-sort-background-color;
      border: none;
      text-transform: uppercase;
      outline: none;
      margin: 5px 0;
      .exp-date{
        color: orange;
      }
      &.exp-date {
        color: orange;
      }
      .none, .business {
        color: #6a6a6a;
      }
    }
  }
 .offer2 {
   background-color: $offer-tile-background;
   margin: 1%;
   border-radius: 5px;
   border: 1px solid rgba(0,0,0,0.10);
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
   text-align: left;
   width: 98%;
   .info {

     .name, .location {
       color: $base-text-color;
     }
     .expiration {
       color: $browse-offers-expiration-date-color;
     }
     .expiringsoon, .expiringtoday {
       color: $browse-offers-expiration-soon-date-color;
     }
     .datedisplay {
       color: $browse-offers-date-display-color;
     }
   }
   .actions2 {
       span:before {
         content: "\276F";
         position: absolute;
         color: #6a6a6a;
         right: 5px;
         top: 35%;
         font-size: 16px;
       }
     .saved2, .save2 {
       img {
         position: absolute;
         bottom: 10px;
         right: 5px;
       }
     }
   }
 }

}
