$color1: #273512;
$color2: #d7e6c0;
$color3: #5da02e;
// yellow #ffdf1c

@font-face {
	font-family: "icons";
	src: url("assets/themes/caseys/fonts/icons.woff") format("woff");
}

@font-face {
	font-family: "monserrat";
	src: url("assets/themes/caseys/fonts/montserrat_v12.woff2") format("woff");
}

@font-face {
	font-family: "oswald";
	src: url("assets/themes/caseys/fonts/oswald_v16.woff2") format("woff");
}


$input-background: #e81f23;
$input-color: white;

$body-background: #ffffff;

// $body-font-family: Verdana, Geneva, sans-serif;


// $button-background: #669933;
$button-background: #e81f2e;
$offer-button-1-background: #e81f23;
$offer-button-2-background: #e81f2e;
$offer-button-3-background: #e81f2e;
$button-color: #fff;
$redeem-button-background: #e81f2e;
$redeem-button-disabled-background: white;
$redeem-button-disabled-color: black;
$redeem-button-disabled-border: solid 1px black;

$save-button-color: #ffffcc;
$save-button-color: #ffffcc;

$overlay-saved-background: rgba(255, 255, 255, 1.0);
$overlay-background: rgba(255, 255, 255, 1.0);
$overlay-background-image: none;
// $header-background: white;
$header-background: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .2)), url("assets/themes/caseys/images/black_paper.png");
$header-height: 40px;
$header-border-bottom: solid 10px #e81f23;
$header-margin-bottom: 20px;

$market-button-unselected-opacity: 1;
$market-button-unselected-background: white;
$market-button-unselected-color: black;

$menu-background: rgba(255, 255, 255, 0.9);
$menu-background-image: url("assets/themes/caseys/images/white-bg.png");
$menu-button-float: left;
$menu-button-animation: all 4s ease infinite;
$menu-button-font-size: 12px;
$menu-button-margin: 12px;
$menu-button-text-transform: uppercase;
$menu-button-open-transform: rotate(90deg);
$menu-button-label-content: "";
$menu-button-background: transparent;
$menu-button-bars-display: inline-block;
$menu-button-color: white;

$back-button-background: #880000;
$back-button-color: #eee;

$share-button-icon-filter: invert(100%);
$play-button-icon-filter: invert(100%);

$offers-market-select-display: none;
$offers-category-select-display: none;
$offers-name-display: none;
$offers-location-display: none;

$logo-background-image: url("assets/themes/caseys/images/caseys-logo-white-outline.svg");
$logo-width: 60px;
$logo-height: 60px;
$logo-float: none;
$logo-opacity: 1;

$home-width: 20px;
$home-height: 20px;
$home-filter: invert(95%);
$home-color: #ffffff;
$home-background-image: url("assets/themes/caseys/images/rooster.png");
$home-float: right;
$home-margin: 12px;
$home-display: inline-block;

$saved-button-background: white;
$saved-button-color: black;
$saved-button-border: solid 1px black;

$socialbar-height: 40px;
$socialbar-background: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("assets/themes/caseys/images/black_paper.png");
$socialbar-wrapper-background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25));
$socialbar-icon-border-radius: 50%;
$socialbar-icon-border: solid 2px #e81f2e;
$socialbar-icon-padding: 2px;
$socialbar-icon-background-color: #e81f2e;
$socialbar-icon-background-size: 85%;
$socialbar-icon-facebook-background-image: url("assets/themes/caseys/images/facebook-white.svg");
$socialbar-icon-linkedin-background-image: url("assets/themes/caseys/images/linkedin-white.svg");
$socialbar-icon-other-background-image: url("assets/themes/caseys/images/youtube-white.svg");
$socialbar-icon-instagram-background-image: url("assets/themes/caseys/images/instagram-white.svg");
$socialbar-icon-twitter-background-image: url("assets/themes/caseys/images/twitter-white.svg");
// $socialbar-icon-phone-background-image: url("../../assets/images/social/call.png");
// $socialbar-icon-address-background-image: url("../../assets/images/social/location.png");

// $version-bar-display: block;

$version-bar-display: none;
