<template>
  <div class="card">
    <div class="header">
      <!-- <img class="logo" src="../../assets/images/logo&#45;02.png" alt="{{ $root.$config('siteName') }}"> -->
    </div>

    <div v-if="error" class="deal">
      <h1 v-else>Sorry, this link is invalid or expired.</h1>

      <div class="copyright">{{ $root.copyright() }}</div>
    </div>
  </div>
</template>

<script src="./index.js"></script>
