<template>
  <div class="card" :class="{ 'card-valid': $root.validMarket }">
    <joi-header></joi-header>
    <div style="clear:both">&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="market-list">
      <div v-if="$root.validMarket" class="header-market">
        <h1>Select Markets</h1>
        <p>Select the markets from which you want to see available offers.</p>
      </div>
      <h1 v-else>Select Markets</h1>

      <div v-for="market in markets" :class="{ 'market-valid': $root.validMarket, market: !$root.validMarket }">
        <a
          v-if="(!market.isTestMarket || $config('environment') !== 'production') && market.active"
          id="market-{{ market.marketID }}"
          class="button"
          :class="{ unselected: !market.selected }"
          data-market-id="{{ market.marketID }}"
          @click.prevent="toggleSelected"
        >
          <span> {{ market.state ? market.city + ", " + market.state : market.city}}</span>
        </a>
      </div>
      <div class="save">
        <hr />
        <a v-if="$root.validMarket" @click.stop="saveMarkets" class="save button save-button"
           :class="{ disabled: saved }">Done</a>
        <a v-else @click.stop="saveMarkets" class="save button" :class="{ disabled: saved }">Save Markets</a>
      </div>
      <div v-show="saved" transition="fadeStatusOut" class="saved">Your markets have been updated.</div>
      <div v-show="error" class="errors">Your markets could not be saved, please try again later.</div>

      <div class="copyright">{{ $root.copyright() }}</div>

    </div>
  </div>
</template>

<script src="./index.js"></script>
<style src="./index.scss" lang="scss"></style>
