@import '../../assets/themes/custom.scss';

.card {
  .market-list {
  }
}
.card-valid {
  background-color: $body-background;
}

.market-list {
  .header-market {
    margin: 15px 0 0 15px;
    h1, p {
      text-align: left;
      margin: 0 0 8px 0;
      padding: 0;
      color: $title-text-color;
    }
    p {
      color: $market-description-text-color;
    }
  }
  .market,
  .save {
    width: 100%;
  }
  .market-valid {
    span:before {
      border-radius: 50%;
      background-color: #53b946;
      position: absolute;
      width: 20px;
      height: 20px;
      content: "";
      left: 15px;
    }
    span:after {
      position: absolute;
      width: 5px;
      height: 12px;
      content: "";
      left: 22px;
      top: 17px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(40deg);
      z-index: 1;
    }
    .button {
      cursor: pointer;
      z-index: initial;
      position: relative;
      border-radius: 0;
      margin: 0 0 1px 0;
      padding: 15px 45px;
      font-size: 1em !important;
      background-color: $market-tile-background-color !important;
      color: #000 !important;
      text-align: left;
      &.unselected {
        background-color: $market-tile-unselected-background-color !important;
        span:before, span:after  {
          display: none;
        }
      }
    }
  }
  .market {

    .button {
      cursor: pointer;
      z-index: initial;
      &.unselected {
        color: #ccc;
        border: solid 1px #888;
        background: #222;
      }
      .checkmark {
        height: 15px;
      }
    }
  }
  .save {
    margin-top: 10px;
    .button {
      padding: 15px;
      cursor: pointer;
      &.disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }
    }
    .save-button {
      position: fixed;
      top: 0;
      z-index: 1006;
      width: 60px;
      height: 32px;
      font-size: 12px;
      padding: 9px;
      margin-left: 13px;
      color: $market-button-text-color;
      background: $market-button-background-color;
      border: $market-button-border-color;
      border-radius: 2px;
    }
  }
  .saved,
  .errors {
    text-align: center;
    margin: 10px auto;
  }
  .errors {
    color: red;
  }
  .saved {
    color: green;
  }

}
