$body-background: #efefef;
$body-background-image: none;
$body-color: #000;

$body-font-family: Lato, sans-serif;
$body-font-size: 1.6rem;
$body-line-height: initial;

$h2-color: null;

$container-width: 720px;

$input-background: null;
$input-color: null;

$button-font: inherit;
$button-background: #fff;
$button-color: #000;
$button-disabled-background: #999;

$header-background: #ccc;
$header-border-bottom: none;
$header-margin-bottom: 0;
$overlay-background: rgba(215, 215, 215, 0.9);
$overlay-background-image: none;
$overlay-saved-background: rgba(215, 215, 215, 1);

$coupon-image-background: #202020;

$header-height: 55px;
$logo-background-image: url("assets/images/logo-placeholder.png");
$logo-margin: 0;
$logo-height: 100%;
$logo-width: 150px;
$logo-float: none;
$logo-opacity: 1;

$home-filter: none;
$home-background-image: none;
$home-display: none;
$home-width: 0px;
$home-float: left;
$home-height: 0px;
$home-color: null;
$home-margin: 16px;

$menu-button-color: null;
$menu-button-float: right;
$menu-button-animation: none;
$menu-button-font-size: 15px;
$menu-button-background: #999;
$menu-button-open-transform: none;
$menu-button-label-content: "Menu";
$menu-button-bars-display: none;
$menu-button-margin: 13px;
$menu-button-text-transform: none;

$back-button-color: null;
$back-button-background: null;

$menu-top: 10px;
$menu-font: null;
$menu-color: null;
$menu-background: rgba(255, 255, 255, 0.9);
$menu-background-image: none;
$menu-buttons-text-transform: none;
$menu-buttons-color1-background: null;
$menu-buttons-color2-background: null;
$menu-buttons-color3-background: null;

$market-button-font-size: 2rem;
$market-button-text-transform: none;
$market-button-color: null;
$market-button-background: null;
$market-button-unselected-color: null;
$market-button-unselected-background: null;
$market-button-unselected-opacity: 1;
$market-button-checkmark-filter: none;
$market-save-button-background: null;
$market-save-button-color: null;

$menu-new-background-color: null;
$menu-new-text-color: null;
$menu-new-item-divider-color: null;

$base-text-color: null;
$offer-expiration-date-color: null;

$offer-tile-background: null;
$offer-button-1-background: null;
$offer-button-2-background: null;
$offer-button-3-background: null;
$redeem-button-background: null;
$redeem-button-disabled-background: null;
$redeem-button-disabled-color: null;
$redeem-button-disabled-border: null;
$save-button-background: null;
$save-button-color: null;
$saved-button-background: null;
$saved-button-color: null;
$saved-button-border: null;
$share-button-background: null;
$share-button-icon-opacity: 1;
$share-button-icon-filter: none;
$play-button-icon-filter: none;

$offer-list-view-button-background: null;
$offer-list-save-button-background: null;

$offers-market-select-display: inline-block;
$offers-sort-select-display: inline-block;
$offers-category-select-display: inline-block;
$offers-name-display: block;
$offers-location-display: block;

$view-offer-expiration-color: red;
$view-offer-expiration-font-size: 14px;
$view-offer-name-font-size: inherit;

$share-background: initial;
$share-color: initial;

$socialbar-background: null;
$socialbar-display: none;
$socialbar-height: 40px;
$socialbar-color: null;
$socialbar-wrapper-background-image: none;
$socialbar-icon-padding: null;
$socialbar-icon-border: null;
$socialbar-icon-border-radius: null;
$socialbar-icon-backround-color: null;
$socialbar-icon-filter: none;
$socialbar-icon-hover-border: none;
$socialbar-icon-hover-filter: none;
$socialbar-icon-background-color: null;
$socialbar-icon-background-size: contain;
$socialbar-icon-facebook-background-image: url("assets/images/social/facebook.png");
$socialbar-icon-email-background-image: url("assets/images/social/email.png");
$socialbar-icon-linkedin-background-image: url("assets/images/social/linkedin.png");
$socialbar-icon-twitter-background-image: url("assets/images/social/twitter.png");
$socialbar-icon-other-background-image: url("assets/images/social/web.png");
$socialbar-icon-instagram-background-image: url("assets/images/social/instagram.png");
$socialbar-icon-phone-background-image: url("assets/images/social/call.png");
$socialbar-icon-address-background-image: url("assets/images/social/location.png");

$version-bar-display: none;

$title-text-color: null;
$divider-color: null;
$divider-location: null;

$profile-information-text-color: null;
$profile-checkbox-text-color: null;

$contest-link-text-color: null;

$browse-offers-category-button-active-color: null;
$browse-offers-category-button-active-border: null;
$browse-offers-category-sort-text-color: null;
$browse-offers-category-sort-background-color: null;
$browse-offers-expiration-soon-date-color: null;
$browse-offers-expiration-date-color: null;
$browse-offers-date-display-color: null;

$single-offer-expiration-date-text-color: null;

$location-background-color: null;
$location-link-text-color: null;

$market-description-text-color: null;
$market-button-text-color: null;
$market-button-border-color: null;
$market-button-background-color: null;
$market-tile-background-color: null;
$market-tile-unselected-background-color: null;

$offer-share-overlay-background-color: null;
$offer-share-background-color: null;
$offer-share-text-color: null;
$offer-share-link-text-color: null;

$button-share-background-color: null;
$button-share-text-color: null;
$button-redeem-background-color: null;
$button-redeem-text-color: null;
$button-link-background-color: null;
$button-link-text-color: null;
$button-contest-background-color: null;
$button-contest-text-color: null;
$button-contest-submit-background-color: null;
$button-contest-submit-text-color: null;
$button-share-submit-background-color: null;
$button-share-submit-text-color: null;
$profile-save-button-color: null;

$view-offer-button-background: null;
$save-offer-button-background: null;

$stop-redeem-background: null;

$landing-page-tutorial-text-color: null;
$landing-page-social-icon-size: 50px;
$location-tile-background-color: null;

$landing-profile-image: url('../../assets/images/main-page-images/profile_icon.png');
$landing-browse-image: url('../../assets/images/main-page-images/browse_offers.png');
$landing-favorites-image: url('../../assets/images/main-page-images/favorites.png');

$landing-social-facebook-image: url('../../assets/images/social/fb_icon-new.png');
$landing-social-twitter-image: url('../../assets/images/social/twitter-new.png');
$landing-taponit-image: null;

$offer-share-text-image: null;

$location-image: url('../../assets/images/locations_icon.png');
$location-direction-img: url('../../assets/images/direction.png');

$active-star-image: url('../../assets/images/fav_active_icon.png');
$inactive-star-image: url('../../assets/images/fav_inactive_icon.png');

$tutorial-page-active-dot-color: #000;
$tutorial-page-dot-color: #757575;
$tutorial-page-carousel-button-color: #000;
$tutorial-page-image-0: url("../../assets/images/tutorial carousel/TAPONIT_ICONS-02.png");
$tutorial-page-image-1: url("../../assets/images/tutorial carousel/TAPONIT_ICONS-01.png");
$tutorial-page-image-2: url("../../assets/images/tutorial carousel/TAPONIT_ICONS-03.png");
$tutorial-page-image-3: url("../../assets/images/tutorial carousel/TAPONIT_ICONS.png");

