<template>
  <div class="carousel-content">
    <canvas></canvas>
    <h1 v-if="tabData.header" v-html="tabData.header"></h1>
    <template v-if="tabData.texts">
      <p
        v-for="text in tabData.texts"
        track-by="$index"
        v-html="text"></p>
    </template>
    <div v-if="tabData.content" class="content2">
      <template v-for="tutorialContent of tabData.content">
        <h2 v-if="tutorialContent.header" v-html="tutorialContent.header"></h2>
        <template v-if="tutorialContent.texts">
          <p
            v-for="text in tutorialContent.texts"
            track-by="$index"
            v-html="text"></p>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      tabData: {
        type: Object,
        require: true
      }
    },
    name: 'tutorial-tab'
  };
</script>
<style scoped lang="scss">
  @import '../../assets/themes/custom.scss';
  canvas {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .carousel-icon-0 {
    canvas {
      background-image: $tutorial-page-image-0;
    }
  }
  .carousel-icon-1 {
    canvas {
      background-image: $tutorial-page-image-1;
    }
  }
  .carousel-icon-2 {
    canvas {
      background-image: $tutorial-page-image-2;
    }
  }
  .carousel-icon-3 {
    canvas {
      background-image: $tutorial-page-image-3;
    }
  }
  .overlay-help h2,
  .overlay-help p {
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }
  .carousel-content {
    width: 97%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 5px 15px 5px;
  }
  .carousel-content p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .carousel-content h1 {
    margin: 20px 0 5px 0;
    font-size: 2rem;
  }
  .content2 {
    text-align: left;
    margin-top: 12px;
  }
  .content2 h1 {
    color: #eb9d4e;
    text-align: left;
    margin-bottom: 20px;
  }
  .content2 p {
    padding: 0 0 10px 0;
    margin: 0;
    text-align: left;
  }
  .content2 h2 {
    color: $base-text-color;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.4rem;
  }
</style>
