<template>
  <joi-header></joi-header>
  <div class="overlay-help" :class="{ 'overlay2': $root.validMarket }">
    <br>
    <a @click="closeOverlay" v-if="!newDesign" class="menu-button back-button" style="position:absolute;top:0;right:0;">Back</a>
    <div style="float: right" v-if="newDesign" class="carousel-container"
         @touchstart="handleTouchStart"
         @touchmove="handleTouchMove">
      <button class="carousel-button left" @click="carouselLeft"> < </button>
      <tutorial-tab v-for="tabData of tutorialText"
                    v-show="tab === $index"
                    :class="slideSide + ' ' + 'carousel-icon-' + $index"
                    :tab-data="tabData"
        >
      </tutorial-tab>
      <button class="carousel-button right" @click="carouselRight"> > </button>
    </div>

    <div v-if="newDesign" class="carousel-dots">
      <span v-for="number in numberOfCarousels" :key="number"
            :class="{ active: tab === number, unactive: tab !== number }"></span>

    </div>

    <div v-if="!newDesign">
      <h1>Help &amp; Tips For Using {{ $root.$config('siteName') }}</h1>

      <h2>Joining {{ $root.$config('siteName') }}</h2>
      <p>Join {{ $root.$config('siteName') }} anytime and tell your friends too, just text {{ optinKeyword }} to {{ shortCode}}</p>

      <h2>Redeeming {{ offerTypeDescPcase }}s</h2>
      <p>
        Don't redeem your {{ offerTypeDescLcase }} until you are making the purchase at the business.
        When you are ready to make your purchase at the business location you will show the cashier your {{ offerTypeDescLcase }}, they will tell you to hit Redeem, we will ask to make sure you want to Redeem, hit Redeem again.
      </p>

      <h2>Saving {{ offerTypeDescPcase }}s</h2>
      <p>
        Save your {{ offerTypeDescLcase }}s for later so that you can easily view it and redeem it at your convenience.
        Just tap the "Save for Later" button on any of the {{ offerTypeDescLcase }}s you want to save.
      </p>

      <h2>Finding Your Saved {{ offerTypeDescPcase }}s</h2>
      <p>
        Looking for your Saved {{ offerTypeDescPcase }}s? Just tap on the Menu button and tap "View My Saved {{ offerTypeDescPcase }}s".
        Tap on the {{ offerTypeDescLcase }} you want to view.
      </p>

      <h2>Create a Home Screen Button for Easy Access</h2>
      <p>
        Most smart phones allow you to create a "Home Screen Button" on the phone. It looks like an app but is just a direct link to {{ $root.$config('siteName') }}.
        We suggest creating your "{{ $root.$config('siteName') }} Home Screen Button" from the "View My Saved {{ offerTypeDescPcase }}s" page so you link directly to your saved {{ offerTypeDescLcase }}s.
      </p>

      <div v-if="!newDesign">
        <h2>Earning Bonus {{ offerTypeDescPcase }}s</h2>
        <p>
          Some {{ $root.$config('siteName') }} {{ offerTypeDescLcase }}s have a Bonus {{ offerTypeDescPcase }} that can be earned.
          You can share your {{ offerTypeDescLcase }}s on Facebook, Twitter or by text; if someone were to sign up for {{ $root.$config('siteName') }} through your shared link you will receive a text message with a link to the Bonus {{ offerTypeDescPcase }} for that business.
          Each Bonus {{ offerTypeDescPcase }} can only be earned once.
          Our system prevents people from opting-out and back in through sharing to protect the businesses from having their bonus {{ offerTypeDescLcase }}s abused; so no cheating!
        </p>
      </div>

      <h2>View More {{ offerTypeDescPcase }}s</h2>
      <p>Can't find an {{ offerTypeDescLcase }} that you want to use? All {{ offerTypeDescLcase }}s that have not expired can be found in the Menu in View More {{ offerTypeDescPcase }}s.</p>

      <h2>Opt-Out</h2>
      <p>
        If you want to opt-out of {{ $root.$config('siteName') }} so that you no longer receive our messages all you have to do is reply STOP to one of our texts.
      </p>

      <p>
        Still have questions? Visit our website at <a @click.stop href="{{ clientHome }}">{{ clientHome }}</a>. Call us at <a @click.stop href="tel:{{ phone}}">{{ phone}}</a>
      </p>
    </div>
  </div>
</template>

<script>
  import defaultText from '../../assets/themes/default/tutorial.json';
  export default {
    name: 'tutorial',
    components: { 'tutorial-tab': require('./tutorial.tab.component') },
    data() {
      const shortCode = this.$appConfig('build').env.shortCode || '82928';
      const optinKeyword = this.$appConfig('build').env.optinKeyword || 'TapOnIt';
      const clientHome = this.$appConfig('build').env.clientHome || 'http://www.taponitdeals.com';
      const phone = this.$appConfig('build').env.phone || '1-844-558-6766';
      const email = this.$appConfig('build').env.email || 'taponit@taponitdeals.com';
      const offerTypeDescLcase = this.$appConfig('build').env.offerTypeDescLcase || 'offer';
      const offerTypeDescUcase = this.$appConfig('build').env.offerTypeDescUcase || 'OFFER';
      const offerTypeDescPcase = this.$appConfig('build').env.offerTypeDescPcase || 'Offer';
      const tutorialText = this.$appConfig('build').env.tutorialText || defaultText;
      return {
        numberOfCarousels: tutorialText.length,
        tutorialText,
        slideSide: '',
        xDown: null,
        yDown: null,
        newDesign: this.$root.validMarket,
        tab: 0,
        usingOfferImage: 'https://via.placeholder.com/250x200',
        bonusOfferImage: 'https://via.placeholder.com/250x200',
        redeemPointsImage: 'https://via.placeholder.com/250x200',
        shortCode,
        optinKeyword,
        clientHome,
        phone,
        email,
        offerTypeDescLcase,
        offerTypeDescUcase,
        offerTypeDescPcase
      };
    },
    methods: {
      handleTouchStart(evt) {
        this.xDown = evt.touches[0].clientX;
        this.yDown = evt.touches[0].clientY;
      },
      handleTouchMove(evt) {
        if (!this.xDown || !this.yDown) {
          return;
        }
        const xUp = evt.touches[0].clientX;
        const yUp = evt.touches[0].clientY;
        const xDiff = this.xDown - xUp;
        const yDiff = this.yDown - yUp;

        if (Math.abs(xDiff) > Math.abs(yDiff)) {
          if (xDiff < 0) {
            this.carouselLeft();
          } else {
            this.carouselRight();
          }
        }
        this.xDown = null;
        this.yDown = null;
      },
      closeOverlay(event) {
        return this.$parent.closeOverlay(event);
      },
      carouselRight() {
        this.slideSide = 'slide-in-right';
        this.tab = (this.tab + 1) % this.numberOfCarousels;
      },
      carouselLeft() {
        this.slideSide = 'slide-in-left';
        this.tab = (this.tab + this.numberOfCarousels - 1) % this.numberOfCarousels;
      }
    }
  };
</script>

<style scoped lang="scss">
  @import '../../assets/themes/custom.scss';

  .overlay-help h2,
  .overlay-help p {
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }

  /* design2 */
  .overlay2 {
    background-color: $body-background;
    padding: 0 5px;
    color: #000;
    margin-top: 55px;
  }
  .carousel-button {
    width: 10%;
    height: 120px;
    background: none;
    border: 0;
    cursor: pointer;
    color: $tutorial-page-carousel-button-color;
    outline: none;
    position: absolute;
  }
  button.left {
    left: 5px;
    z-index: 1;
  }
  button.right {
    right: 5px;
  }
  .carousel-container {
    background-color: $offer-tile-background;
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.2);
    color: $base-text-color;
    border-radius: 5px;
    padding-top: 25px;
    margin-bottom: 8px;
  }
  .carousel-content img {
    width: 110px;
  }

  .carousel-dots {
    width: 100%;
    text-align: center;
  }
  .carousel-dots .active:before {
    color: $tutorial-page-active-dot-color;
  }
  .carousel-dots .unactive:before{
    color: $tutorial-page-dot-color;
  }
  .carousel-dots span:before {
    content: "\2022";
    text-align: center;
    font-size: 30px;
  }
  .slide-in-right {
    -webkit-animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .slide-in-left {
    -webkit-animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
      transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
      transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
