<template>
  <div v-show="visibleModal">
    <div class="barcode-container">
      <a class="menu-button" @click.prevent="closeModal"><span></span></a>
      <template v-if="type !== 'alpha'">
        <div>
          <img crossorigin="anonymous" :src="imageUrl"
               class="vue-barcode-element" v-bind:class="{ size: type === 'qrCode' }"
               v-show="valid" alt="barcode image"/>
          <div v-show="!valid">{{ errorMessage }}</div>
        </div>
      </template>
      <div>
        <p class="code" >{{ value }}</p>
      </div>
      <div class="download-container">
        <div class="img-container">
          <img src="../../assets/images/download.png" alt="downloadImage"/>
        </div>
        <a @click.prevent="buttonClick" class="download-link">
          Save to Photos</a>
      </div>
      <canvas class="logo-wrapper logo-image"></canvas>
    </div>
  </div>
</template>
<script>
  const JsBarcode = require('jsbarcode');
  const QRCode = require('qrcode');

  const props = {
    value: {
      type: [String, Number],
      required: true
    },
    type: {
      type: String,
      // The value must match one of these strings
      validator: (value) => ['qrCode', 'barcode', 'alpha'].includes(value)
    },
    offer: {
      type: Object,
      required: true
    },
    imageUrl: {
      type: String,
      required: false,
      default: ''
    },
    visibleModal: {
      type: Boolean,
      required: false,
      default: true
    }
  };

  export default {
    props,
    watch: {
      type() {
        this.drawCorrectCode();
      }
    },
    data() {
      return {
        canvas: undefined,
        valid: false,
        errorMessage: 'WRONG DATA SENT'
      };
    },
    ready() {
      this.canvas = window.jQuery('.vue-barcode-element')[0];
      this.drawCorrectCode();
    },
    methods: {
      buttonClick() {
        const downloadButton = document.createElement('a');
        downloadButton.href = this.generateDownloadImage();
        downloadButton.download = this.value + '.png';
        downloadButton.click();
      },
      generateDownloadImage() {
        const drawingCanvas = document.createElement('canvas');

        const setupCanvas = (setupFile) => {
          ctx.fillStyle = setupFile.textColor;
          ctx.font = setupFile.font;
        };

        const [ logoCanvasImage ] = window.jQuery('.logo-image');
        const style = logoCanvasImage.currentStyle || window.getComputedStyle(logoCanvasImage, false);

        const codePictureHeight = ['qrCode', 'barcode'].includes(this.type) ? 150 : 0;
        const widthModifier = (this.type === 'barcode') ? 2 : 1;
        const heightsAndOffsets = {
          leftOffset: 40,
          topOffset: 30,
          afterImageOffset: 30,
          logoHeight: 40
        };
        const headingSetup = {
          font: '14px Lato',
          textColor: '#0892CC',
          fontSize: 20
        };

        const textSetup = {
          font: '16px Lato',
          textColor: '#BBBBBB',
          fontSize: 30
        };

        const canvasWidth = 350;
        const bi = style.backgroundImage.slice(4, -1).replace(/"/g, '');
        const logoImage = new window.Image();
        logoImage.src = bi;
        const logoHeightRation = heightsAndOffsets.logoHeight / logoImage.height;
        const codeImageOffset = (canvasWidth - widthModifier * codePictureHeight) / 2;
        const codeValueOffset = (canvasWidth - this.value.length * 8) / 2;

        let placeCounter = heightsAndOffsets.topOffset;
        const imageData = [
          { type: 'image',
            data: logoImage,
            width: logoImage.width * logoHeightRation,
            height: heightsAndOffsets.logoHeight },
          { type: 'header', data: this.offer.businessName },
          { type: 'text', data: this.offer.shortDescriptionText },
          { type: 'header', data: 'Expires at: ' },
          { type: 'text', data: new Date(this.offer.expirationDate).toLocaleDateString() },
          { type: 'image',
            data: this.canvas,
            offset: codeImageOffset,
            width: widthModifier * codePictureHeight,
            height: codePictureHeight },
          { type: 'text', data: this.value, offset: codeValueOffset }
        ];

        const canvasHeight = heightsAndOffsets.topOffset + heightsAndOffsets.logoHeight + codePictureHeight +
          imageData.filter((e) => e.type === 'image').length * heightsAndOffsets.afterImageOffset +
          textSetup.fontSize * imageData.filter((e) => e.type === 'text').length +
          headingSetup.fontSize * imageData.filter((e) => e.type === 'header').length;

        drawingCanvas.height = canvasHeight;
        drawingCanvas.width = canvasWidth;

        const ctx = drawingCanvas.getContext('2d');

        ctx.fillStyle = style.color;
        ctx.fillRect(0, 0, canvasWidth, canvasHeight);
        imageData.forEach((element) => {
          if (typeof element.offset !== 'number') {
            element.offset = heightsAndOffsets.leftOffset;
          }
          switch (element.type) {
            case 'text':
              setupCanvas(textSetup);
              ctx.fillText(element.data, element.offset, placeCounter);
              placeCounter += textSetup.fontSize;
              break;

            case 'header':
              setupCanvas(headingSetup);
              ctx.fillText(element.data, element.offset, placeCounter);
              placeCounter += headingSetup.fontSize;
              break;

            case 'image':
              if (element.data) {
                ctx.drawImage(element.data, element.offset, placeCounter, element.width, element.height);

                placeCounter += element.height + heightsAndOffsets.afterImageOffset;
              }
              break;
          }
        });

        return drawingCanvas.toDataURL('image/png');
      },
      closeModal() {
        this.visibleModal = false;
      },
      drawCorrectCode() {
        const undefinedRemoved = this.removeUndefinedProps();

        if (undefinedRemoved.imageUrl) {
          this.valid = true;
        } else if (undefinedRemoved.type === 'barcode') {
          JsBarcode(this.canvas, undefinedRemoved.value.toString(), undefinedRemoved);
          this.valid = true;
        } else if (undefinedRemoved.type === 'qrCode') {
          QRCode.toDataURL(undefinedRemoved.value.toString(), (error, url) => {
            if (error) {
              this.errorMessage = error.message;
              this.valid = false;
            } else {
              this.imageUrl = url;
              this.valid = true;
            }
          });
        } else {
          this.valid = false;
        }
      },
      removeUndefinedProps() {
        const data = {};

        for (const prop in props) {
          if (this.hasOwnProperty(prop) && this[prop] !== undefined) {
            data[prop] = this[prop];
          }
        }

        return data;
      }
    },
    name: 'barcode'
  };
</script>

<style scoped lang="scss">
  @import "../../assets/themes/custom.scss";
  .logo-image {
    display: none;
    color: $coupon-image-background;
  }

  .menu-button {
    background-color: transparent;
    color: #b1b1b1;
    position:absolute;
    top:5px;
    right:10px;
    padding: 0;
    margin: 0;
    span:before {
      content:'\2715';
      font-size: 40px;
    }
  }

  .barcode-container {
    padding: 50px 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .vue-barcode-element {
      border-radius: 10px;
      width: 300px!important;
      height: 100px!important;
    }

    .size {
       height: 160px!important;
       width: 160px!important;
     }

    .download-container {
      cursor: pointer;
      margin-top: 30px;
      padding: 3px 35px 3px 3px;
      border-radius: 25px;
      background-color: #54b846;
      display: flex;
      align-items: center;

      .img-container {
        display: flex;
        background-color: #1e1e1f;
        padding: 9px;
        border-radius: 50%;
        width: fit-content;
        margin-right: 6px;

        img {
          width: 22px;
          height: 22px;
        }
      }

      .download-link {
        font-size: 17px;
        color: #fff;
        text-decoration: none;
      }
    }

    .code {
      margin: 25px;
      font-size: 4.5rem;
      line-height: 1;
    }

    .question {
      font-weight: bold;
      font-size: 20px;
    }

    .text {
      font-size: 15px;
    }

    .close {
      width: 205px;
      height: 46px;
      margin-top: 22px;
      color: #fff;
      font-size: 17px;
      border: none;
      background-color: #ff0000;
      padding: 10px 25px;
      border-radius: 25px;
      text-align: center;
      outline: none;
    }

    p {
      color: black;
      padding: 0;
    }

  }
</style>
