$image-asset-path: '../../assets/';

$body-background: #161616;
$body-color: #fff;

$body-font-family: Lato, sans-serif;

$landing-profile-image: url('../../assets/themes/activeEndeavors/images/profile@2x.png');
$landing-browse-image: url('../../assets/themes/activeEndeavors/images/browse@2x.png');
$landing-favorites-image: url('../../assets/themes/activeEndeavors/images/favorites@2x.png');

$landing-social-facebook-image: url('../../assets/themes/activeEndeavors/images/social/facebook@2x.png');
$landing-social-twitter-image: url('../../assets/themes/activeEndeavors/images/social/instagram@2x.png');
$landing-taponit-image: url('../../assets/themes/activeEndeavors/images/social/location@2x.png');

$offer-share-text-image: url('../../assets/images/social/text-new.png');

$location-image: url('../../assets/themes/activeEndeavors/images/location_green.png');
$location-direction-img: url('../../assets/images/direction.png');

$active-star-image: url('../../assets/themes/activeEndeavors/images/active_star.png');
$inactive-star-image: url('../../assets/themes/activeEndeavors/images/inactive_star.png');

$h2-color: #ffac41;

$input-background: #6b6c6e;
$input-color: #fff;

$button-color: #fff;
$button-background: #1692ce;
$button-disabled-background: #222;

$header-background: #9BCA4A;
$overlay-background: rgba(93, 93, 93, 0.8);
$overlay-saved-background:(4, 6, 6, 1);

$logo-background-image: url("assets/themes/activeEndeavors/images/ae_logo@2x.png");
$logo-width: 170px;
$logo-float: left;

$menu-background: rgba(0, 0, 0, 0.9);
$menu-button-background: #f89a3b;
$menu-button-color: #fff;
$menu-buttons-color1-background: #f89a3b;
$menu-buttons-color2-background: #1692ce;
$menu-buttons-color3-background: #52b947;

$market-save-button-background: #52b947;
$market-save-button-color: #fff;
$market-button-background: #1692ce;
$market-button-color: #fff;
$market-button-unselected-background: #888;
$market-button-unselected-color: #fff;

$menu-new-background-color: #99CB47;
$menu-new-text-color: #5D5D5D;
$menu-new-item-divider-color: #fff;

$offer-tile-background: #5D5D5D;
$base-text-color: #fff;
$offer-expiration-date-color: rgba(255, 255, 255, 0.6);

$title-text-color: #fff;
$landing-page-tutorial-text-color: rgba(255, 255, 255, 0.3);
$landing-page-social-icon-size: 30px;
$divider-color: 1px solid rgba(255, 255, 255, 0.3);
$divider-location: 1px solid rgba(255, 255, 255, 0.12);

$profile-information-text-color: #ffac41;
$profile-checkbox-text-color: #777777;

$contest-link-text-color: #f89430;

$browse-offers-category-button-active-color: #9BCA4A;
$browse-offers-category-button-active-border: 1px solid #53b946;
$browse-offers-category-sort-text-color: #6a6a6a;
$browse-offers-category-sort-background-color: none;
$browse-offers-expiration-soon-date-color: #f68426;
$browse-offers-expiration-date-color: #000;
$browse-offers-date-display-color: #fafafa;

$single-offer-expiration-date-text-color: #FFFFF8;

$location-background-color: #161616;
$location-link-text-color: #2AA5EC;
$location-tile-background-color: #161616;

$market-description-text-color: #888;
$market-button-text-color: #fff;
$market-button-border-color: 1px solid #fff;
$market-button-background-color: #9BCA4A;
$market-tile-background-color: #beddbb;
$market-tile-unselected-background-color: #d8d8d8;

$offer-share-overlay-background-color: rgba(0, 0, 0, 0.6);
$offer-share-background-color: #fff;
$offer-share-text-color: #000;
$offer-share-link-text-color: #000;

$button-share-background-color: #00B9D6;
$button-share-text-color: #fff;
$button-redeem-background-color: #9BCA4A;
$button-redeem-text-color: #fff;
$button-link-background-color: #52b947;
$button-link-text-color: #fff;
$button-contest-background-color: #a9a9a9;
$button-contest-text-color: #fff;
$button-contest-submit-background-color: #f79a3b;
$button-contest-submit-text-color: #fff;
$button-share-submit-background-color: #1692ce;
$button-share-submit-text-color: #fff;
$profile-save-button-color: #52b947;

$tutorial-page-active-dot-color: #000;
$tutorial-page-dot-color: #757575;
$tutorial-page-carousel-button-color: #000;

$view-offer-button-background: #52b947;
$save-offer-button-background: #1692ce;
$offer-list-view-button-background: #1692ce;
$offer-list-save-button-background: #52b947;

$offer-button-1-background: #f79a3a;
$offer-button-2-background: #52b947;
$offer-button-3-background: #3092ce;
$redeem-button-disabled-background: null;
$redeem-button-disabled-color: null;
$redeem-button-disabled-border: null;
$save-button-color: null;
$saved-button-background: null;
$saved-button-color: null;
$saved-button-border: null;

$redeem-button-background: null;
$save-button-background: null;
$share-button-background: null;
$share-button-icon-opacity: 1.0;
$share-button-icon-filter: invert(100%);
$play-button-icon-filter: invert(100%);

$share-background: #4fb848;
$share-color: #fff;

$stop-redeem-background: #f89b3b;
$stop-image: url("../../assets/images/icon-stop.png");
